include ../_data
include ../_blocks
include ../_mixins

-
	page = {
		title: '',
		home: 'not-home',
	}

block vars

doctype html
html(lang="ru")
	head
		
		
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='shortcut icon', href='/assets/img/favicon/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='/assets/img/favicon/apple-touch-icon.png')
		
		link(rel='stylesheet', type='text/css', href='/assets/css/app.min.css')
 
		title= page.title

		base(href="/")

	body
		.page-wrapper
			+mobile-menu()

			+top-line()

			block content

			script(src='/assets/js/app.min.js') 