/*
 * Fonts
 */

 $font-family-base: 'Baron Neue';
//$accent-font-family: 'EtelkaMediumPro';

/*
 * Color
 */

 $main-color: #e23b33;
 $accent-color: #dd3731;
 $yellow-color: #f9e8cc;
 $button-background-color: $accent-color;
 $button-ghost-color: $accent-color;
 $text-color: $main-color;
 $accent-text-color: $accent-color;
 $primary: #e23b33;

 /*
 * Link
 */

$link-color: $accent-color;
$link-color-hover: lighten($link-color, 30%);
$link-color-focus: darken($link-color, 30%);


/*
 * Buttons
 */
 $btn-padding-y:16px;
 $btn-padding-x:45px;
 $btn-line-height:1;
 $btn-transition: .25s;

