footer.footer
	.container
		.row
			.col-lg-4
				// Footer Intro
				.footer_intro
					// Logo
					.logo.footer_logo
						a(href='#')
							| Astro
							span Magic
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae enim enim. Sed nec dignissim purus.
					// Social
					.footer_social
						a(href="#").main-footer__sidebar-social-item
							img(src="assets/img/site/social/icon_fb.png", alt="")
						a(href="#").main-footer__sidebar-social-item
							img(src="assets/img/site/social/icon_instagram.png", alt="")
						a(href="#").main-footer__sidebar-social-item
							img(src="assets/img/site/social/icon_twitter.png", alt="")
						a(href="#").main-footer__sidebar-social-item
							img(src="assets/img/site/social/icon_youtube.png", alt="")

					// Copyright
					.footer_cr
						
						| Copyright © 2019
					
						|  Все права защищены | Разработка сайта |
						a(href='http://airsite.org', target='_blank') Airsite
			.col-lg-2
				.footer_col
					.footer_col_title Гадания
					ul
						li
							a(href='#') На картах
						li
							a(href='#') По фото
						li
							a(href='#') По имени
				.footer_col
					.footer_col_title Сонник
						ul
							li
								a(href='#') По Врангелю
							li
								a(href='#') По фрейду
							li
								a(href='#') Еще по кому то
				.footer_col
					.footer_col_title Гороскоп
					ul
						li
							a(href='#') Проверить совместимость
						li
							a(href='#') Узнать судьбу
						li
							a(href='#') Узнать будущее
			// Footer Menu
			.col-lg-2
				.footer_col
					.footer_col_title Эзотерика
					ul
						li
							a(href='#') Приметы
						li
							a(href='#') Суеверия
						li
							a(href='#') Магия
						li
							a(href='#') Окультизм
						li
							a(href='#') Имена
						li
							a(href='#') Предсказания
						li
							a(href='#') Мысли
			// Footer About
			.col-lg-2
				.footer_col
					.footer_col_title О нас
					ul
						li
							a(href='#') Наши ясновидящие
						li
							a(href='#') Отзывы
						li
							a(href='#') Услуги колдунов
						li
							a(href='#') Ссылка
			// Footer Community
			.col-lg-2
				.footer_col
					.footer_col_title Меню сайта
					ul
						li
							a(href='#') Эзотерика
						li
							a(href='#') Гадания
						li
							a(href='#') Сонник
						li
							a(href='#') Гороскоп
						li
							a(href='#') Контакт
		.row
			.col
				// Copyright
				.footer_cr_2 2017 All rights reserved