header.main-header
		.starts__background
				img.stars.stars-animation(src='assets/img/site/black-star/background.png')
				img.stars.stars-animation-two(src='assets/img/site/black-star/background.png')
				img.stars.stars-animation-three(src='assets/img/site/black-star/background.png')
		.container
				.main-menu
						nav.navbar.navbar-expand-lg
								button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
										span.navbar-toggler-icon
								#navbarNavDropdown.collapse.navbar-collapse
										ul.navbar-nav.justify-content-center
												li.nav-item.active
														a.nav-link(href='#')
																| Главная 
																span.sr-only (current)
												li.nav-item.dropdown
														a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Эзотерика
														.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
																a.dropdown-item(href='#') Магия
																a.dropdown-item(href='google.com') Колдовство
																a.dropdown-item(href='#') Окультизм
																a.dropdown-item(href='#') Магия
																a.dropdown-item(href='#') Колдовство
																a.dropdown-item(href='#') Окультизм
												li.nav-item
														a.nav-link(href='#') Купить талисман
												li.nav-item
														a.nav-link(href='#') Гадания
												li.nav-item
														a.nav-link(href='#') Сонник
												li.nav-item
														a.nav-link(href='#') Гороскоп
												li.nav-item
														a.nav-link(href='#') Отзывы
												li.nav-item
														a.nav-link(href='#') Контакты


				
				
				
				
				
				
				.main-header__content
						.main-header__image
							img(src="assets/img/site/black-star/sphere.png", alt="")
							.main-header__fortunetelling-btn-wrap
								button.main-header__fortunetelling-btn.btn Быстрое гадания
								.main-header__fortunetelling-text
									.main-header__fortunetelling-text-wrap Если не сегодня повёт, то завтра
									button.main-header__fortunetelling-close
										i.fa.fa-close
						.main-header__text
								h1.main-header__title <span>Астромагия</span> <br>  Какое у вас будущее?
								.main-header__description у звёзд есть ответ, но выбор за вами!
								.main-header__btn
										.btn.btn-primary Обратиться к магу