header.simple-header(style='background-image: url(assets/img/site/blog-bg.jpg);')
	.main-menu.main-menu--simple-page
		nav.navbar.navbar-expand-lg
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
				#navbarNavDropdown.collapse.navbar-collapse
						ul.navbar-nav.justify-content-center
								li.nav-item.active
										a.nav-link(href='#')
												| Главная 
												span.sr-only (current)
								li.nav-item.dropdown
										a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Эзотерика
										.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
												a.dropdown-item(href='#') Магия
												a.dropdown-item(href='#') Колдовство
												a.dropdown-item(href='#') Окультизм
												a.dropdown-item(href='#') Магия
												a.dropdown-item(href='#') Колдовство
												a.dropdown-item(href='#') Окультизм
								li.nav-item
										a.nav-link(href='#') Купить талисман
								li.nav-item
										a.nav-link(href='#') Гадания
								li.nav-item
										a.nav-link(href='#') Сонник
								li.nav-item
										a.nav-link(href='#') Гороскоп
								li.nav-item
										a.nav-link(href='#') Отзывы
								li.nav-item
										a.nav-link(href='#') Контакты
	h2.tit6.t-center Blog