//- ВНИМАНИЕ! Этот файл генерируется автоматически.
 * Не пишите сюда ничего вручную, все такие правки будут потеряны при следующей компиляции.

include ../.././src/blocks/autocomplete//autocomplete.pug
