extends _layouts/_defaultPages



block vars
	- page.title = 'Home'
	- page.home = 'is-home'

block content
	section.section.blog-content
		.bread-crumb.bo5-b.p-t-17.p-b-17
			.container
				a.txt27(href='index.html')| Главная
				span.txt29.m-l-10.m-r-10 /
				span.txt29 | Эзотерика
				span.txt29.m-l-10.m-r-10 /
				span.txt29 | Нове технологии колдовства
		.container
			.row
				.col-md-8.col-lg-9
					.blog-list__wrap.p-t-80.p-b-124.bo5-r.h-full.p-r-50.p-r-0-md.bo-none-md
						.blo4.p-b-63
							// -
							.pic-blo4.hov-img-zoom.bo-rad-10.pos-relative
								a(href='blog-detail.html')
									img(src='assets/img/site/blog/blog-05.jpg', alt='IMG-BLOG')
								
							// -
							.text-blo4.p-t-33
								h4.p-b-16
									a.tit9(href='blog-detail.html') Cooking recipe Delicious
								
								p.blog__text
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget mi sem. Nulla facilisi. Sed ultricies eros a nibh tempus, in sodales mi vestibulum. Nullam quis dui ac nisl ultrices euismod et sit amet urna. Morbi semper sapien quis ex tempor, sit amet scelerisque eros rhoncus. Cras scelerisque auctor gravida. Nunc fermentum luctus rhoncus. Nulla vulputate fermentum convallis. In quis pellentesque tortor. Cras metus nibh, gravida vitae ante vel, finibus semper tellus. Nulla vel tincidunt magna. Morbi tempor velit lectus, eu commodo quam volutpat vitae.

											
				.col-md-4.col-lg-3
					.sidebar2.p-t-80.p-b-80.p-l-20.p-l-0-md.p-t-0-md
						// Categories
						.categories
							h4.txt33.bo5-b.p-b-35.p-t-58 Эзотерика
							ul
								li.bo5-b.p-t-8.p-b-8
									a.txt27(href='#')
										| Магия
								li.bo5-b.p-t-8.p-b-8
									a.txt27(href='#')
										| Колдовство
								li.bo5-b.p-t-8.p-b-8
									a.txt27(href='#')
										| Ведьмы
								li.bo5-b.p-t-8.p-b-8
									a.txt27(href='#')
										| Чародеи
								li.bo5-b.p-t-8.p-b-8
									a.txt27(href='#')
										| Заклинания