extends _layouts/_defaultPages



block vars
	- page.title = 'Home'
	- page.home = 'is-home'

block content
	main.inner-page
		.inner-page__top
			.container
				nav(aria-label='breadcrumb')
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#') Главная
						li.breadcrumb-item.active(aria-current='page') Эзотерика
			
		section.inner-page__content.inner-page__content--with-sidebar
			.container
				.blog-list
					.row
						.col-md-8.col-lg-9.blog-list__articles
							h1.section-title Список статей
							.blog-list__item
								.blog-list__img
									img(src="assets/img/site/blog/blog-05.jpg", alt="")
								a(href="").blog-list__link
									h2.blog-list__title Название статьи
								.blog-list__content.content-block
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquam voluptate nemo sapiente mollitia quam maiores commodi voluptatibus tempore at!
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquam voluptate nemo sapiente mollitia quam maiores commodi voluptatibus tempore at!
								a(href="").blog-list__more Подробнее
									i.fa.fa-long-arrow-right
							
							.blog-list__item
								.blog-list__img
									img(src="assets/img/site/blog/blog-05.jpg", alt="")
								a(href="").blog-list__link
									h2.blog-list__title Название статьи
								.blog-list__content.content-block
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquam voluptate nemo sapiente mollitia quam maiores commodi voluptatibus tempore at!
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquam voluptate nemo sapiente mollitia quam maiores commodi voluptatibus tempore at!

							.blog-list__item
								.blog-list__img
									img(src="assets/img/site/blog/blog-05.jpg", alt="")
								a(href="").blog-list__link
									h2.blog-list__title Название статьи
								.blog-list__content.content-block
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquam voluptate nemo sapiente mollitia quam maiores commodi voluptatibus tempore at!
									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquam voluptate nemo sapiente mollitia quam maiores commodi voluptatibus tempore at!
							
							.blog-list__pagination
								nav(aria-label='Пагинация')
									ul.pagination
										li.page-item.active
											a.page-link(href='#') 1
										li.page-item
											a.page-link(href='#') 2
										li.page-item
											a.page-link(href='#') 3

						.col-md-4.col-lg-3.blog-list__sidebar
							nav.sidebar-menu
								.sidebar-menu__title Эзотерика
								ul.sidebar-menu__list
									li.sidebar-menu__item.sidebar-menu__item--active
										a(href="").sidebar-menu__link Магия
									li.sidebar-menu__item
										a(href="").sidebar-menu__link Колдовство
									li.sidebar-menu__item
										a(href="").sidebar-menu__link Ведьмы
									li.sidebar-menu__item
										a(href="").sidebar-menu__link Чародеи
									li.sidebar-menu__item
										a(href="").sidebar-menu__link Заклинания
