extends _layouts/_defaultPages



block vars
	- page.title = 'Home'
	- page.home = 'is-home'

block content
	section.section.contacts
		.container
			h2.section-title Напишите нам о проблеме, и мы ее решим
			p <strong>Наш телефон</strong>090909090
			p <strong>Наша почта</strong>090909090
	section.section.call-back
			.container
				h2.section-title Получить помощь ясновидящей прямо сейчас
				.call-back__subTitle Для быстрой связи с нами оставте заявку. С вами свяжутся в ближайшее время
				form.call-back__form
					.form-group
						input.form-control(type='text' placeholder='Имя')
					.form-group
						input.form-control(type='text' placeholder='Email')
					.form-group
						input.form-control(type='text' placeholder='Телефон')
					.form-group
						textarea#message.form-control(name='message' cols='30' rows='7' placeholder='Сообщение')
					.form-group.text-right
						input.btn.btn-primary.btn-send-message(type='submit' value='Отправить')

