extends _layouts/_defaultPages



block vars
	- page.title = 'Home'
	- page.home = 'is-home'

block content
	main.inner-page
		.inner-page__top
			.container
				nav(aria-label='breadcrumb')
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#') Главная
						li.breadcrumb-item.active(aria-current='page') Эзотерика
			
		section.inner-page__content.page-horoscope
			.container
				h1.section-title Общий гороскоп для тельцов
				.horoscope
					ul.horoscope__name
						li.horoscope__name-item.horoscope__name-item--active
							a(href="").horoscope__name-link Гороскоп
						li.horoscope__name-item
							a(href="").horoscope__name-link Китайский гороскоп
					
					.horoscope__descr.content-block
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur labore id, tempore unde minus accusantium nobis accusamus voluptatibus porro hic, repellat dolor deserunt ratione non quas delectus ab asperiores voluptatem tempora neque quis blanditiis vitae in. Dignissimos quis voluptatibus sequi.
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur labore id, tempore unde minus accusantium nobis accusamus voluptatibus porro hic, repellat dolor deserunt ratione non quas delectus ab asperiores voluptatem tempora neque quis blanditiis vitae in. Dignissimos quis voluptatibus sequi.

					ul.horoscope__type
						li.horoscope__type-item.horoscope__type-item--active
							a(href="").horoscope__type-link Общий
						li.horoscope__type-item
							a(href="").horoscope__type-link Любовный
						li.horoscope__type-item
							a(href="").horoscope__type-link Финансы
						li.horoscope__type-item
							a(href="").horoscope__type-link Совместимость
					
					.horoscope__main
						.horoscope__tabs-wrap
							ul.horoscope__tabs
								li.horoscope__btn.horoscope__btn--active
									a(href="").horoscope__btn-link
										.horoscope__btn-icon(style="background-image: url('assets/img/site/horoscope/aries.png');")
										.horoscope__btn-link-text Овен
								li.horoscope__btn
									a(href="").horoscope__btn-link
										.horoscope__btn-icon(style="background-image: url('assets/img/site/horoscope/taurus.png');")
										.horoscope__btn-link-text Телец
								li.horoscope__btn
									a(href="").horoscope__btn-link
										.horoscope__btn-icon(style="background-image: url('assets/img/site/horoscope/gemini.png');")
										.horoscope__btn-link-text Близнец
								li.horoscope__btn
									a(href="").horoscope__btn-link
										.horoscope__btn-icon(style="background-image: url('assets/img/site/horoscope/cancer.png');")
										.horoscope__btn-link-text Рак
								li.horoscope__btn
									a(href="").horoscope__btn-link
										.horoscope__btn-icon(style="background-image: url('assets/img/site/horoscope/leo.png');")
										.horoscope__btn-link-text Лев
								li.horoscope__btn
									a(href="").horoscope__btn-link
										.horoscope__btn-icon(style="background-image: url('assets/img/site/horoscope/virgo.png');")
										.horoscope__btn-link-text Дева
								li.horoscope__btn
									a(href="").horoscope__btn-link
										.horoscope__btn-icon(style="background-image: url('assets/img/site/horoscope/libra.png');")
										.horoscope__btn-link-text Весы
								li.horoscope__btn
									a(href="").horoscope__btn-link
										.horoscope__btn-icon(style="background-image: url('assets/img/site/horoscope/scorpio.png');")
										.horoscope__btn-link-text Скорпион
								li.horoscope__btn
									a(href="").horoscope__btn-link
										.horoscope__btn-icon(style="background-image: url('assets/img/site/horoscope/sagittarius.png');")
										.horoscope__btn-link-text Стрелец
								li.horoscope__btn
									a(href="").horoscope__btn-link
										.horoscope__btn-icon(style="background-image: url('assets/img/site/horoscope/capricorn.png');")
										.horoscope__btn-link-text Козерог
								li.horoscope__btn
									a(href="").horoscope__btn-link
										.horoscope__btn-icon(style="background-image: url('assets/img/site/horoscope/aquarius.png');")
										.horoscope__btn-link-text Водолей
								li.horoscope__btn
									a(href="").horoscope__btn-link
										.horoscope__btn-icon(style="background-image: url('assets/img/site/horoscope/pisces.png');")
										.horoscope__btn-link-text Рыбы
						
						.horoscope__content#horoscope
							.horoscope__date
								.horoscope__date-title Выберете день:
								ul.horoscope__date-list
									li.horoscope__date-item
										a(href="", data-date="14.02").horoscope__date-link Вчера
									li.horoscope__date-item.horoscope__date-item--active
										a(href="", data-date="15.02").horoscope__date-link Сегодня
									li.horoscope__date-item
										a(href="", data-date="16.02").horoscope__date-link Завтра
							
							.horoscope__content-title Телец. Гороскоп на <span class="dayName">сегодня</span>
							.horoscope__content-text.content-block

