extends _layouts/_default



block vars
	- page.title = 'Home'
	- page.home = 'is-home'

block content
	section.section.team
		.starts__background
			img.stars.stars-animation(src='assets/img/site/black-star/background.png')
			img.stars.stars-animation-two(src='assets/img/site/black-star/background.png')
			img.stars.stars-animation-three(src='assets/img/site/black-star/background.png')
		.container
			h2.section-title Ведьмы, маги, колдуны
			.team__slider.owl-carousel#teamSlider
				.team__slide
					.team__img-wrap
						.team__img
							img(src="assets/img/site/team/1.jpg", alt="")
					h3.team__name Гендальф Белый
					.team__decription Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ut magnam eos suscipit numquam cum est nisi, odit fugit totam cumque. Magnam aliquam, ad ut harum vel in similique modi, culpa ipsam inventore nobis.
					.team__btn
						.btn.btn-primary Обратиться
				.team__slide
					.team__img-wrap
						.team__img
							img(src="assets/img/site/team/1.jpg", alt="")
					h3.team__name Гендальф Белый
					.team__decription Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ut magnam eos suscipit numquam cum est nisi, odit fugit totam cumque. Magnam aliquam, ad ut harum vel in similique modi, culpa ipsam inventore nobis.
					.team__btn
						.btn.btn-primary Обратиться
				.team__slide
					.team__img-wrap
						.team__img
							img(src="assets/img/site/team/1.jpg", alt="")
					h3.team__name Гендальф Белый
					.team__decription Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ut magnam eos suscipit numquam cum est nisi, odit fugit totam cumque. Magnam aliquam, ad ut harum vel in similique modi, culpa ipsam inventore nobis.
					.team__btn
						.btn.btn-primary Обратиться
				.team__slide
					.team__img-wrap
						.team__img
							img(src="assets/img/site/team/1.jpg", alt="")
					h3.team__name Гендальф Белый
					.team__decription Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ut magnam eos suscipit numquam cum est nisi, odit fugit totam cumque. Magnam aliquam, ad ut harum vel in similique modi, culpa ipsam inventore nobis.
					.team__btn
						.btn.btn-primary Обратиться

	.section.section.reviews
		.dodecator
			.lines
				.line
				.line
				.line
				.line
		.container
			h2.section-title Отзывы о наших колдунах
			.reviews__slider.owl-carousel#reviewsSlider
				.reviews__slide
					.row
						.col-lg-4.col-md-12
							.reviews__img
								img(src="assets/img/site/reviews/1.jpg", alt="")
						.col-lg-8.col-md-12
							.reviews__content
								h3.reviews__name МАГИ СЕРГЕЙ И НАТАЛЬЯ БЕЛОУСОВЫ
								.reviews__skill Cпособности: Приворот, Диагностика, Любовный вызов, Ясновидение
								.reviews__description Сайт Пятница 13 - это маленький уголок Сергея и Натальи Белоусовых. Муж и жена занимаются любовной магией и оказывают ряд услуг, которые направлены на сохранение и восстановление отношений между людьми. Ритуалы на привлечение удачи, материального достатка помогут в сложной ситуации, а порча избавит от соперника в каком-либо деле. Отзывы о данных магах-ясновидцах читайте ниже и оставляйте свои.
								.reviews__btns
									.reviews__btn
										.btn.btn__primary Больше отзывов
									.reviews__btn
										.btn.btn__secondary Оставить свой отзыв
					.reviews__review
						.row
							.col-lg-10.col-md-12
								.reviews__review__img.reviews__review__img--hidden-lg
									img(src="assets/img/site/reviews/1.jpg", alt="")
								.reviews__review__name Наталия Клыктоманова
								.reviews__review-text Хотели с мужем легких денег. Обратились к Сергею и Наталье Белоусовым, чтоб они нам сделали заговор на деньги. У нас было накоплено всего 50 000 рублей. понемногу за пару месяцев они высосали из нашего кошелька все деньги. После того как у нас ни осталось ни копейки, а долг за квартиру начал расти мы осознали всю серьезность ситуации. Для нас это было как пробуждение. Такое ощущение, что нас чем то опоили и мы сами не понимали что делаем и как отдаем деньги которые зарабатывали тяжелым трудом. Пошли в полицию, от туда нас со смехом выгнали, и даже не дали написать заявление. Так что в такой ситуации помощи ждать не от кого и деньги свои мы никак уже не вернем. Это какой-то кошмар. Будьте осторожны! Облапошат только так!
							.col-lg-2.col-md-12
								.reviews__review__img
									img(src="assets/img/site/reviews/1.jpg", alt="")
				.reviews__slide
					.row
						.col-lg-4.col-md-12
							.reviews__img
								img(src="assets/img/site/reviews/1.jpg", alt="")
						.col-lg-8.col-md-12
							.reviews__content
								h3.reviews__name МАГИ СЕРГЕЙ И НАТАЛЬЯ БЕЛОУСОВЫ
								.reviews__skill Cпособности: Приворот, Диагностика, Любовный вызов, Ясновидение
								.reviews__description Сайт Пятница 13 - это маленький уголок Сергея и Натальи Белоусовых. Муж и жена занимаются любовной магией и оказывают ряд услуг, которые направлены на сохранение и восстановление отношений между людьми. Ритуалы на привлечение удачи, материального достатка помогут в сложной ситуации, а порча избавит от соперника в каком-либо деле. Отзывы о данных магах-ясновидцах читайте ниже и оставляйте свои.
								.reviews__btns
									.reviews__btn
										.btn.btn__primary Больше отзывов
									.reviews__btn
										.btn.btn__secondary Оставить свой отзыв
					.reviews__review
						.row
							.col-lg-10.col-md-12
								.reviews__review__img.reviews__review__img--hidden-lg
									img(src="assets/img/site/reviews/1.jpg", alt="")
								.reviews__review__name Наталия Клыктоманова
								.reviews__review-text Хотели с мужем легких денег. Обратились к Сергею и Наталье Белоусовым, чтоб они нам сделали заговор на деньги. У нас было накоплено всего 50 000 рублей. понемногу за пару месяцев они высосали из нашего кошелька все деньги. После того как у нас ни осталось ни копейки, а долг за квартиру начал расти мы осознали всю серьезность ситуации. Для нас это было как пробуждение. Такое ощущение, что нас чем то опоили и мы сами не понимали что делаем и как отдаем деньги которые зарабатывали тяжелым трудом. Пошли в полицию, от туда нас со смехом выгнали, и даже не дали написать заявление. Так что в такой ситуации помощи ждать не от кого и деньги свои мы никак уже не вернем. Это какой-то кошмар. Будьте осторожны! Облапошат только так!
							.col-lg-2.col-md-12
								.reviews__review__img
									img(src="assets/img/site/reviews/1.jpg", alt="")
				
	section.section.products
		.products__background
			- var quantity = 15

				- for (var i = 1; i <= quantity; i++)
					.firefly
		.container
			h2.section-title Талисманы, обереги, руны
			.products__description Lorem, ipsum dolor sit amet consectetur adipisicing elit.
			.products__categories
				ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
					li.nav-item
						a#pills-home-tab.nav-link.active(data-toggle='pill', href='#home', role='tab', aria-controls='1', aria-selected='true') Деньги
					li.nav-item
						a#pills-profile-tab.nav-link(data-toggle='pill', href='#profile', role='tab', aria-controls='2', aria-selected='false') Любовь
					li.nav-item
						a#pills-contact-tab.nav-link(data-toggle='pill', href='#contact', role='tab', aria-controls='3', aria-selected='false') Сила
					li.nav-item
						a#pills-contact-tab.nav-link(data-toggle='pill', href='#contact1', role='tab', aria-controls='4', aria-selected='false') Здоровье
				#myTabContent.tab-content
					#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='1')
						.row
							.col-md-4.col-sm-6.col-xs-12
								.products__item
									.product__item-wrap
										.product__img
											img(src="assets/img/site/products/1.jpg", alt="")
										.product__title Талисман на удачу
										.product__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam rerum repellendus corrupti magni amet molestias autem voluptatem, dignissimos delectus tempora, esse.
										.product__btn
											.btn.btn-primary заказать
							.col-md-4.col-sm-6.col-xs-12
								.products__item
									.product__item-wrap
										.product__img
											img(src="assets/img/site/products/1.jpg", alt="")
										.product__title Талисман на удачу
										.product__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam rerum repellendus corrupti magni amet molestias autem voluptatem, dignissimos delectus tempora, esse.
										.product__btn
											.btn.btn-primary заказать
							.col-md-4.col-sm-6.col-xs-12
								.products__item
									.product__item-wrap
										.product__img
											img(src="assets/img/site/products/1.jpg", alt="")
										.product__title Талисман на удачу
										.product__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam rerum repellendus corrupti magni amet molestias autem voluptatem, dignissimos delectus tempora, esse.
										.product__btn
											.btn.btn-primary заказать
							.col-md-4.col-sm-6.col-xs-12
								.products__item
									.product__item-wrap
										.product__img
											img(src="assets/img/site/products/1.jpg", alt="")
										.product__title Талисман на удачу
										.product__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam rerum repellendus corrupti magni amet molestias autem voluptatem, dignissimos delectus tempora, esse.
										.product__btn
											.btn.btn-primary заказать
							.col-md-4.col-sm-6.col-xs-12
								.products__item
									.product__item-wrap
										.product__img
											img(src="assets/img/site/products/1.jpg", alt="")
										.product__title Талисман на удачу
										.product__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam rerum repellendus corrupti magni amet molestias autem voluptatem, dignissimos delectus tempora, esse.
										.product__btn
											.btn.btn-primary заказать
					#profile.tab-pane.fade(role='tabpanel', aria-labelledby='2')
						.row
							.col-md-4.col-sm-6.col-xs-12
								.products__item
									.product__item-wrap
										.product__img
											img(src="assets/img/site/products/1.jpg", alt="")
										.product__title Талисман на удачу
										.product__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam rerum repellendus corrupti magni amet molestias autem voluptatem, dignissimos delectus tempora, esse.
										.product__btn
											.btn.btn-primary заказать
					#contact.tab-pane.fade(role='tabpanel', aria-labelledby='3') ...
						.row
							.col-md-4.col-sm-6.col-xs-12
								.products__item
									.product__item-wrap
										.product__img
											img(src="assets/img/site/products/1.jpg", alt="")
										.product__title Талисман на удачу
										.product__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam rerum repellendus corrupti magni amet molestias autem voluptatem, dignissimos delectus tempora, esse.
										.product__btn
											.btn.btn-primary заказать
						
					#contact1.tab-pane.fade(role='tabpanel', aria-labelledby='4') ...
						.row
							.col-md-4.col-sm-6.col-xs-12
								.products__item
									.product__item-wrap
										.product__img
											img(src="assets/img/site/products/1.jpg", alt="")
										.product__title Талисман на удачу
										.product__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam rerum repellendus corrupti magni amet molestias autem voluptatem, dignissimos delectus tempora, esse.
										.product__btn
											.btn.btn-primary заказать

	section.section.last-blog
		.container
			h2.section-title Последние статьи
			.row
				.col-md-3.col-sm-6.col-xs-12
					.last-blog__item
						.last-blog__item-img
							img(src="assets/img/site/blog/1.jpg", alt="Lorem ipsum dolor sit amet")
						a(href="#").last-blog__item-link
							h3.last-blog__item-title Lorem ipsum dolor sit amet
						.last-blog__item-text
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem at libero, laborum ad saepe consectetur fuga pariatur assumenda! Sint, explicabo?
						a(href="").last-blog__item-more Подробнее
				.col-md-3.col-sm-6.col-xs-12
					.last-blog__item
						.last-blog__item-img
							img(src="assets/img/site/blog/2.jpg", alt="Lorem ipsum dolor sit amet")
						a(href="#").last-blog__item-link
							h3.last-blog__item-title Lorem ipsum dolor sit amet
						.last-blog__item-text
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem at libero, laborum ad saepe consectetur fuga pariatur assumenda! Sint, explicabo?
						a(href="").last-blog__item-more Подробнее
				.col-md-3.col-sm-6.col-xs-12
					.last-blog__item
						.last-blog__item-img
							img(src="assets/img/site/blog/3.jpg", alt="Lorem ipsum dolor sit amet")
						a(href="#").last-blog__item-link
							h3.last-blog__item-title Lorem ipsum dolor sit amet
						.last-blog__item-text
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem at libero, laborum ad saepe consectetur fuga pariatur assumenda! Sint, explicabo?
						a(href="").last-blog__item-more Подробнее
				.col-md-3.col-sm-6.col-xs-12
					.last-blog__item
						.last-blog__item-img
							img(src="assets/img/site/blog/1.jpg", alt="Lorem ipsum dolor sit amet")
						a(href="#").last-blog__item-link
							h3.last-blog__item-title Lorem ipsum dolor sit amet
						.last-blog__item-text
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem at libero, laborum ad saepe consectetur fuga pariatur assumenda! Sint, explicabo?
						a(href="").last-blog__item-more Подробнее
			.last-blog__more
				a(href="#").btn.btn-primary Смотреть все
	
	section.section.call-back
		.container
			h2.section-title Получить помощь ясновидящей прямо сейчас
			.call-back__subTitle Для быстрой связи с нами оставте заявку. С вами свяжутся в ближайшее время
			form.call-back__form
				.form-group
					input.form-control(type='text' placeholder='Имя')
				.form-group
					input.form-control(type='text' placeholder='Email')
				.form-group
					input.form-control(type='text' placeholder='Телефон')
				.form-group
					textarea#message.form-control(name='message' cols='30' rows='7' placeholder='Сообщение')
				.form-group.text-right
					input.btn.btn-primary.btn-send-message(type='submit' value='Отправить')

	script.
		var quickАortunetellingData = [
			'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому 1',
			'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому 2',
			'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому 3',
			'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому 4',
			'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому 5',
			'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому 6',
			'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому 7',
			'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому 8'
		];