extends _layouts/_defaultPages



block vars
	- page.title = 'Home'
	- page.home = 'is-home'

block content
	main.inner-page
		.inner-page__top
			.container
				nav(aria-label='breadcrumb')
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#') Главная
						li.breadcrumb-item.active(aria-current='page') Эзотерика
			
		section.inner-page__content
			.container
				h1.section-title Заголовок страницы
				.content-block
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellat saepe tempore nihil ea voluptate ut itaque necessitatibus quas, libero ratione. Ratione ea ad assumenda. Fugit id quod officiis maiores, voluptatibus accusamus. Veritatis reprehenderit minima ex consectetur aliquid sed quae.
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellat saepe tempore nihil ea voluptate ut itaque necessitatibus quas, libero ratione. Ratione ea ad assumenda. Fugit id quod officiis maiores, voluptatibus accusamus. Veritatis reprehenderit minima ex consectetur aliquid sed quae.
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellat saepe tempore nihil ea voluptate ut itaque necessitatibus quas, libero ratione. Ratione ea ad assumenda. Fugit id quod officiis maiores, voluptatibus accusamus. Veritatis reprehenderit minima ex consectetur aliquid sed quae.
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellat saepe tempore nihil ea voluptate ut itaque necessitatibus quas, libero ratione. Ratione ea ad assumenda. Fugit id quod officiis maiores, voluptatibus accusamus. Veritatis reprehenderit minima ex consectetur aliquid sed quae.
