extends _layouts/_defaultPages



block vars
	- page.title = 'Home'
	- page.home = 'is-home'

block content
	main.inner-page
		.inner-page__top
			.container
				nav(aria-label='breadcrumb')
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#') Главная
						li.breadcrumb-item.active(aria-current='page') Эзотерика
			
		section.product
			.container
				.row
					.col-xl-4.col-md-6.col-sm-4.col-xs-12
						.product__image
							img(src="assets/img/site/products/1.jpg", alt="")
					.col-xl-5.col-md-6.col-sm-8.col-xs-12
						h2.product__name Талисман на удачу из орлиного клюва
						.product__description-main 
							p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, placeat expedita. Tenetur, libero! Nihil facere assumenda ipsum, omnis hic nam ducimus earum minus illum explicabo laudantium doloribus ipsam? Alias eligendi libero sequi dolorem totam repudiandae, quas dignissimos iste quia tenetur, quae illo cupiditate ut provident mollitia molestiae consectetur iure, temporibus deleniti vero voluptatibus sunt labore ex numquam. 
							p Maiores mollitia expedita quis! Laboriosam ipsam, illo mollitia excepturi fugit quod alias officia reprehenderit totam doloremque.
					.col-xl-3.col-lg-6.col-md-12.col-sm-12
						.product__shopping-wrap
							.product__shopping
								.product__price-simple 3000 руб.
								.product__btn-simple
									.btn.btn-primary заказать
								.product__btn-simple
									.btn.btn__secondary Задать вопрос
							.product__delivery
								h3.delivery-ways Доставка и оплата
									p Почта<br>Самоввоз<br>Предоплата на карту/счет<br>Наложенный платеж
	section.section.product-upsale
		.container
			h2.section-title Подобные амулеты
			ul.product-list
				li.product-list__item
					.product-list__item-img
						img(src="assets/img/site/products/1.jpg", alt="")
					a(href="").product-list__item-link
						h2.product-list__item-title Название продукта
					.product-list__item-text.content-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, impedit.
					.product-list__item-btn
						a(href="").btn.btn-primary Подробнее
				
				li.product-list__item
					.product-list__item-img
						img(src="assets/img/site/products/1.jpg", alt="")
					a(href="").product-list__item-link
						h2.product-list__item-title Название продукта
					.product-list__item-text.content-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, impedit.
					.product-list__item-btn
						a(href="").btn.btn-primary Подробнее

				li.product-list__item
					.product-list__item-img
						img(src="assets/img/site/products/1.jpg", alt="")
					a(href="").product-list__item-link
						h2.product-list__item-title Название продукта
					.product-list__item-text.content-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, impedit.
					.product-list__item-btn
						a(href="").btn.btn-primary Подробнее

				li.product-list__item
					.product-list__item-img
						img(src="assets/img/site/products/1.jpg", alt="")
					a(href="").product-list__item-link
						h2.product-list__item-title Название продукта
					.product-list__item-text.content-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, impedit.
					.product-list__item-btn
						a(href="").btn.btn-primary Подробнее

				li.product-list__item
					.product-list__item-img
						img(src="assets/img/site/products/1.jpg", alt="")
					a(href="").product-list__item-link
						h2.product-list__item-title Название продукта
					.product-list__item-text.content-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, impedit.
					.product-list__item-btn
						a(href="").btn.btn-primary Подробнее
				
				li.product-list__item
					.product-list__item-img
						img(src="assets/img/site/products/1.jpg", alt="")
					a(href="").product-list__item-link
						h2.product-list__item-title Название продукта
					.product-list__item-text.content-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, impedit.
					.product-list__item-btn
						a(href="").btn.btn-primary Подробнее