extends _layouts/_defaultPages



block vars
	- page.title = 'Home'
	- page.home = 'is-home'

block content
	main.inner-page
		.inner-page__top
			.container
				nav(aria-label='breadcrumb')
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#') Главная
						li.breadcrumb-item.active(aria-current='page') Эзотерика
			
		section.inner-page__content.inner-page__content--with-sidebar
			.container
				.blog-list
					.row
						.col-md-8.col-lg-9.blog-list__articles
							h1.section-title Список продуктов
							ul.product-list
								li.product-list__item
									.product-list__item-img
										img(src="assets/img/site/products/1.jpg", alt="")
									a(href="").product-list__item-link
										h2.product-list__item-title Название продукта
									.product-list__item-text.content-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, impedit.
									.product-list__item-btn
										a(href="").btn.btn-primary Подробнее
								
								li.product-list__item
									.product-list__item-img
										img(src="assets/img/site/products/1.jpg", alt="")
									a(href="").product-list__item-link
										h2.product-list__item-title Название продукта
									.product-list__item-text.content-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, impedit.
									.product-list__item-btn
										a(href="").btn.btn-primary Подробнее

								li.product-list__item
									.product-list__item-img
										img(src="assets/img/site/products/1.jpg", alt="")
									a(href="").product-list__item-link
										h2.product-list__item-title Название продукта
									.product-list__item-text.content-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, impedit.
									.product-list__item-btn
										a(href="").btn.btn-primary Подробнее

								li.product-list__item
									.product-list__item-img
										img(src="assets/img/site/products/1.jpg", alt="")
									a(href="").product-list__item-link
										h2.product-list__item-title Название продукта
									.product-list__item-text.content-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, impedit.
									.product-list__item-btn
										a(href="").btn.btn-primary Подробнее

								li.product-list__item
									.product-list__item-img
										img(src="assets/img/site/products/1.jpg", alt="")
									a(href="").product-list__item-link
										h2.product-list__item-title Название продукта
									.product-list__item-text.content-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, impedit.
									.product-list__item-btn
										a(href="").btn.btn-primary Подробнее
								
								li.product-list__item
									.product-list__item-img
										img(src="assets/img/site/products/1.jpg", alt="")
									a(href="").product-list__item-link
										h2.product-list__item-title Название продукта
									.product-list__item-text.content-block Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, impedit.
									.product-list__item-btn
										a(href="").btn.btn-primary Подробнее
							
							.blog-list__pagination
								nav(aria-label='Пагинация')
									ul.pagination
										li.page-item.active
											a.page-link(href='#') 1
										li.page-item
											a.page-link(href='#') 2
										li.page-item
											a.page-link(href='#') 3

						.col-md-4.col-lg-3.blog-list__sidebar
							nav.sidebar-menu
								.sidebar-menu__title Магические талисманы
								ul.sidebar-menu__list
									li.sidebar-menu__item.sidebar-menu__item--active
										a(href="").sidebar-menu__link Талисманы на деньги
									li.sidebar-menu__item
										a(href="").sidebar-menu__link Талисманы на любовь
									li.sidebar-menu__item
										a(href="").sidebar-menu__link Талисманы на здоровье
									li.sidebar-menu__item
										a(href="").sidebar-menu__link Талисманы на удачу
									li.sidebar-menu__item
										a(href="").sidebar-menu__link Талисманы на успех