extends _layouts/_defaultPages



block vars
	- page.title = 'Home'
	- page.home = 'is-home'

block content
	main.inner-page
		.inner-page__top
			.container
				nav(aria-label='breadcrumb')
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#') Главная
						li.breadcrumb-item.active(aria-current='page') Эзотерика
			
		section.inner-page__content
			.container
				h1.section-title Отзывы о наших колдунах
				.content-block
					.page-reviews
						
						.page-reviews__item
							.row
								.col-lg-4.col-md-12
									.page-reviews__img
										img(src="assets/img/site/reviews/1.jpg", alt="Маги сергей и наталья белоусовы")
								.col-lg-8.col-md-12
									h2.page-reviews__magician-name Маги сергей и наталья белоусовы
									.page-reviews__magician-abilities <strong>Cпособности: </strong>Приворот, Диагностика, Любовный вызов, Ясновидение
									.page-reviews__magician-descr Сайт Пятница 13 - это маленький уголок Сергея и Натальи Белоусовых. Муж и жена занимаются любовной магией и оказывают ряд услуг, которые направлены на сохранение и восстановление отношений между людьми. Ритуалы на привлечение удачи, материального достатка помогут в сложной ситуации, а порча избавит от соперника в каком-либо деле. Отзывы о данных магах-ясновидцах читайте ниже и оставляйте свои.
									.page-reviews__magician-btn
										a(href="").btn.btn-primary Обратиться к магу
							.page-reviews__slider-list.owl-carousel.reviewsPageSlider
								.page-reviews__slider-item
									.page-reviews__slider-content
										.page-reviews__slider-name Наталия Клыктоманова
										.page-reviews__slider-text Хотели с мужем легких денег. Обратились к Сергею и Наталье Белоусовым, чтоб они нам сделали заговор на деньги. У нас было накоплено всего 50 000 рублей. понемногу за пару месяцев они высосали из нашего кошелька все деньги. После того как у нас ни осталось ни копейки, а долг за квартиру начал расти мы осознали всю серьезность ситуации. Для нас это было как пробуждение. Такое ощущение, что нас чем то опоили и мы сами не понимали что делаем и как отдаем деньги которые зарабатывали тяжелым трудом. Пошли в полицию, от туда нас со смехом выгнали, и даже не дали написать заявление. Так что в такой ситуации помощи ждать не от кого и деньги свои мы никак уже не вернем. Это какой-то кошмар. Будьте осторожны! Облапошат только так!
									.page-reviews__slider-img
										img(src="assets/img/site/reviews/1.jpg", alt="")
								.page-reviews__slider-item
									.page-reviews__slider-content
										.page-reviews__slider-name Наталия Клыктоманова
										.page-reviews__slider-text Хотели с мужем легких денег. Обратились к Сергею и Наталье Белоусовым, чтоб они нам сделали заговор на деньги. У нас было накоплено всего 50 000 рублей. понемногу за пару месяцев они высосали из нашего кошелька все деньги. После того как у нас ни осталось ни копейки, а долг за квартиру начал расти мы осознали всю серьезность ситуации. Для нас это было как пробуждение. Такое ощущение, что нас чем то опоили и мы сами не понимали что делаем и как отдаем деньги которые зарабатывали тяжелым трудом. Пошли в полицию, от туда нас со смехом выгнали, и даже не дали написать заявление. Так что в такой ситуации помощи ждать не от кого и деньги свои мы никак уже не вернем. Это какой-то кошмар. Будьте осторожны! Облапошат только так!
									.page-reviews__slider-img
										img(src="assets/img/site/reviews/1.jpg", alt="")
								.page-reviews__slider-item
									.page-reviews__slider-content
										.page-reviews__slider-name Наталия Клыктоманова
										.page-reviews__slider-text Хотели с мужем легких денег. Обратились к Сергею и Наталье Белоусовым, чтоб они нам сделали заговор на деньги. У нас было накоплено всего 50 000 рублей. понемногу за пару месяцев они высосали из нашего кошелька все деньги. После того как у нас ни осталось ни копейки, а долг за квартиру начал расти мы осознали всю серьезность ситуации. Для нас это было как пробуждение. Такое ощущение, что нас чем то опоили и мы сами не понимали что делаем и как отдаем деньги которые зарабатывали тяжелым трудом. Пошли в полицию, от туда нас со смехом выгнали, и даже не дали написать заявление. Так что в такой ситуации помощи ждать не от кого и деньги свои мы никак уже не вернем. Это какой-то кошмар. Будьте осторожны! Облапошат только так!
									.page-reviews__slider-img
										img(src="assets/img/site/reviews/1.jpg", alt="")

						.page-reviews__item
							.row
								.col-lg-4.col-md-12
									.page-reviews__img
										img(src="assets/img/site/reviews/1.jpg", alt="Маги сергей и наталья белоусовы")
								.col-lg-8.col-md-12
									h2.page-reviews__magician-name Маги сергей и наталья белоусовы
									.page-reviews__magician-abilities <strong>Cпособности: </strong>Приворот, Диагностика, Любовный вызов, Ясновидение
									.page-reviews__magician-descr Сайт Пятница 13 - это маленький уголок Сергея и Натальи Белоусовых. Муж и жена занимаются любовной магией и оказывают ряд услуг, которые направлены на сохранение и восстановление отношений между людьми. Ритуалы на привлечение удачи, материального достатка помогут в сложной ситуации, а порча избавит от соперника в каком-либо деле. Отзывы о данных магах-ясновидцах читайте ниже и оставляйте свои.
									.page-reviews__magician-btn
										a(href="").btn.btn-primary Обратиться к магу
							.page-reviews__slider-list.owl-carousel.reviewsPageSlider
								.page-reviews__slider-item
									.page-reviews__slider-content
										.page-reviews__slider-name Наталия Клыктоманова
										.page-reviews__slider-text Хотели с мужем легких денег. Обратились к Сергею и Наталье Белоусовым, чтоб они нам сделали заговор на деньги. У нас было накоплено всего 50 000 рублей. понемногу за пару месяцев они высосали из нашего кошелька все деньги. После того как у нас ни осталось ни копейки, а долг за квартиру начал расти мы осознали всю серьезность ситуации. Для нас это было как пробуждение. Такое ощущение, что нас чем то опоили и мы сами не понимали что делаем и как отдаем деньги которые зарабатывали тяжелым трудом. Пошли в полицию, от туда нас со смехом выгнали, и даже не дали написать заявление. Так что в такой ситуации помощи ждать не от кого и деньги свои мы никак уже не вернем. Это какой-то кошмар. Будьте осторожны! Облапошат только так!
									.page-reviews__slider-img
										img(src="assets/img/site/reviews/1.jpg", alt="")
								.page-reviews__slider-item
									.page-reviews__slider-content
										.page-reviews__slider-name Наталия Клыктоманова
										.page-reviews__slider-text Хотели с мужем легких денег. Обратились к Сергею и Наталье Белоусовым, чтоб они нам сделали заговор на деньги. У нас было накоплено всего 50 000 рублей. понемногу за пару месяцев они высосали из нашего кошелька все деньги. После того как у нас ни осталось ни копейки, а долг за квартиру начал расти мы осознали всю серьезность ситуации. Для нас это было как пробуждение. Такое ощущение, что нас чем то опоили и мы сами не понимали что делаем и как отдаем деньги которые зарабатывали тяжелым трудом. Пошли в полицию, от туда нас со смехом выгнали, и даже не дали написать заявление. Так что в такой ситуации помощи ждать не от кого и деньги свои мы никак уже не вернем. Это какой-то кошмар. Будьте осторожны! Облапошат только так!
									.page-reviews__slider-img
										img(src="assets/img/site/reviews/1.jpg", alt="")
								.page-reviews__slider-item
									.page-reviews__slider-content
										.page-reviews__slider-name Наталия Клыктоманова
										.page-reviews__slider-text Хотели с мужем легких денег. Обратились к Сергею и Наталье Белоусовым, чтоб они нам сделали заговор на деньги. У нас было накоплено всего 50 000 рублей. понемногу за пару месяцев они высосали из нашего кошелька все деньги. После того как у нас ни осталось ни копейки, а долг за квартиру начал расти мы осознали всю серьезность ситуации. Для нас это было как пробуждение. Такое ощущение, что нас чем то опоили и мы сами не понимали что делаем и как отдаем деньги которые зарабатывали тяжелым трудом. Пошли в полицию, от туда нас со смехом выгнали, и даже не дали написать заявление. Так что в такой ситуации помощи ждать не от кого и деньги свои мы никак уже не вернем. Это какой-то кошмар. Будьте осторожны! Облапошат только так!
									.page-reviews__slider-img
										img(src="assets/img/site/reviews/1.jpg", alt="")
						
						.page-reviews__item
							.row
								.col-lg-4.col-md-12
									.page-reviews__img
										img(src="assets/img/site/reviews/1.jpg", alt="Маги сергей и наталья белоусовы")
								.col-lg-8.col-md-12
									h2.page-reviews__magician-name Маги сергей и наталья белоусовы
									.page-reviews__magician-abilities <strong>Cпособности: </strong>Приворот, Диагностика, Любовный вызов, Ясновидение
									.page-reviews__magician-descr Сайт Пятница 13 - это маленький уголок Сергея и Натальи Белоусовых. Муж и жена занимаются любовной магией и оказывают ряд услуг, которые направлены на сохранение и восстановление отношений между людьми. Ритуалы на привлечение удачи, материального достатка помогут в сложной ситуации, а порча избавит от соперника в каком-либо деле. Отзывы о данных магах-ясновидцах читайте ниже и оставляйте свои.
									.page-reviews__magician-btn
										a(href="").btn.btn-primary Обратиться к магу
							.page-reviews__slider-list.owl-carousel.reviewsPageSlider
								.page-reviews__slider-item
									.page-reviews__slider-content
										.page-reviews__slider-name Наталия Клыктоманова
										.page-reviews__slider-text Хотели с мужем легких денег. Обратились к Сергею и Наталье Белоусовым, чтоб они нам сделали заговор на деньги. У нас было накоплено всего 50 000 рублей. понемногу за пару месяцев они высосали из нашего кошелька все деньги. После того как у нас ни осталось ни копейки, а долг за квартиру начал расти мы осознали всю серьезность ситуации. Для нас это было как пробуждение. Такое ощущение, что нас чем то опоили и мы сами не понимали что делаем и как отдаем деньги которые зарабатывали тяжелым трудом. Пошли в полицию, от туда нас со смехом выгнали, и даже не дали написать заявление. Так что в такой ситуации помощи ждать не от кого и деньги свои мы никак уже не вернем. Это какой-то кошмар. Будьте осторожны! Облапошат только так!
									.page-reviews__slider-img
										img(src="assets/img/site/reviews/1.jpg", alt="")
								.page-reviews__slider-item
									.page-reviews__slider-content
										.page-reviews__slider-name Наталия Клыктоманова
										.page-reviews__slider-text Хотели с мужем легких денег. Обратились к Сергею и Наталье Белоусовым, чтоб они нам сделали заговор на деньги. У нас было накоплено всего 50 000 рублей. понемногу за пару месяцев они высосали из нашего кошелька все деньги. После того как у нас ни осталось ни копейки, а долг за квартиру начал расти мы осознали всю серьезность ситуации. Для нас это было как пробуждение. Такое ощущение, что нас чем то опоили и мы сами не понимали что делаем и как отдаем деньги которые зарабатывали тяжелым трудом. Пошли в полицию, от туда нас со смехом выгнали, и даже не дали написать заявление. Так что в такой ситуации помощи ждать не от кого и деньги свои мы никак уже не вернем. Это какой-то кошмар. Будьте осторожны! Облапошат только так!
									.page-reviews__slider-img
										img(src="assets/img/site/reviews/1.jpg", alt="")
								.page-reviews__slider-item
									.page-reviews__slider-content
										.page-reviews__slider-name Наталия Клыктоманова
										.page-reviews__slider-text Хотели с мужем легких денег. Обратились к Сергею и Наталье Белоусовым, чтоб они нам сделали заговор на деньги. У нас было накоплено всего 50 000 рублей. понемногу за пару месяцев они высосали из нашего кошелька все деньги. После того как у нас ни осталось ни копейки, а долг за квартиру начал расти мы осознали всю серьезность ситуации. Для нас это было как пробуждение. Такое ощущение, что нас чем то опоили и мы сами не понимали что делаем и как отдаем деньги которые зарабатывали тяжелым трудом. Пошли в полицию, от туда нас со смехом выгнали, и даже не дали написать заявление. Так что в такой ситуации помощи ждать не от кого и деньги свои мы никак уже не вернем. Это какой-то кошмар. Будьте осторожны! Облапошат только так!
									.page-reviews__slider-img
										img(src="assets/img/site/reviews/1.jpg", alt="")

