extends _layouts/_defaultPages



block vars
	- page.title = 'Home'
	- page.home = 'is-home'

block content
	main.inner-page
		.inner-page__top
			.container
				nav(aria-label='breadcrumb')
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#') Главная
						li.breadcrumb-item.active(aria-current='page') Эзотерика
			
		section.inner-page__content
			.container
				h1.section-title Сонник
				.content-block
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellat saepe tempore nihil ea voluptate ut itaque necessitatibus quas, libero ratione. Ratione ea ad assumenda. Fugit id quod officiis maiores, voluptatibus accusamus. Veritatis reprehenderit minima ex consectetur aliquid sed quae.
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellat saepe tempore nihil ea voluptate ut itaque necessitatibus quas, libero ratione. Ratione ea ad assumenda. Fugit id quod officiis maiores, voluptatibus accusamus. Veritatis reprehenderit minima ex consectetur aliquid sed quae.
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellat saepe tempore nihil ea voluptate ut itaque necessitatibus quas, libero ratione. Ratione ea ad assumenda. Fugit id quod officiis maiores, voluptatibus accusamus. Veritatis reprehenderit minima ex consectetur aliquid sed quae.
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellat saepe tempore nihil ea voluptate ut itaque necessitatibus quas, libero ratione. Ratione ea ad assumenda. Fugit id quod officiis maiores, voluptatibus accusamus. Veritatis reprehenderit minima ex consectetur aliquid sed quae.
		
		section.sonnik
			.container
				h2.section-title Поиск по сонникам
				.sonnik__wrap#sonnik
					.sonnik__group
						form.sonnik__form(action="#", autocomplete="off")
							.autocomplete
								input(type="text", placeholder="Что вам приснилось?").form-control.sonnik__input
							button(type="sumit").btn.btn-primary Узнать значение
					
					.sonnik__group
						h2.sonnik__sub-title Популярные запросы
						.sonnik__btn-list
							a(href="").sonnik__btn Свадьба
							a(href="").sonnik__btn Рыба
							a(href="").sonnik__btn Слон
							a(href="").sonnik__btn Насорог
							a(href="").sonnik__btn Дом
							a(href="").sonnik__btn Шабля
							a(href="").sonnik__btn Свадьба
							a(href="").sonnik__btn Рыба
							a(href="").sonnik__btn Слон
							a(href="").sonnik__btn Насорог
							a(href="").sonnik__btn Дом
							a(href="").sonnik__btn Шабля

					.sonnik__group
						h2.sonnik__sub-title Алфавитный указатель
						.sonnik__btn-list.sonnik__letter-btn-list
						ul.sonnik__letter-title-list