@import 'reboot';
@import 'fonts';
@import 'typography';
@import '../fonts/baronneue.css';


.section-title{
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
    color:rgb(235, 234, 229);
    @include media-breakpoint-down(sm){
        letter-spacing: 8px;
        font-size:20px;
		}
}

a:hover{
    color:$main-color;
}

.breadcrumb{
	background-color: transparent;
	padding-top: 90px;
	margin-bottom: 3px;
}

.breadcrumb-item{

	font-weight: 400;
	font-size: 12px;
	color: #222222;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'OpenSans';

	a{
		font-weight: 400;
    font-size: 12px;
    color: #222222;
    line-height: 1.5;
    text-transform: uppercase;
		letter-spacing: 1px;
		font-family: 'OpenSans';
	}
}

.content-block{
	font-family: 'OpenSans';
	p{
		font-size: 14px;
		letter-spacing: 0;
		margin-left: 0;
		}
}

// pagination
.pagination{

}

.page-item{
	margin-right: 10px;
	width: 36px;
	height: 36px;
	text-align: center;
	.active{

	}
}

.page-item:first-child .page-link,
.page-item:last-child .page-link{
	border-radius: 100%;
}

.page-link{
	border-radius: 100%;
	line-height: 14px;
	display: block;
	height: 100%;
	color: #444444;
}