.btn{
  color:#fff;
  border:1px solid #fff;
  cursor: pointer;
  padding-bottom: 18px;
  

}

.btn-primary{
  transition: .5s;
  &:hover{
      animation: pulse 1s;
      box-shadow:  1px 1.732px 2px 20px rgba( 163, 31, 92, 0);
      color: #fff;    

  }

}


.section{
  padding-top: 80px;
  padding-bottom: 80px;
  @include media-breakpoint-down(sm){
    padding-top: 40px;
    padding-bottom: 40px;
  }
}


.main-header{
    background-color: #1a181d;
    background-position: 80% 100%, 60% 0%; 
		padding-top:auto;
		position: relative;
    // padding-bottom: 60px;
    min-height:100vh;
    // min-height: 565px;
    @include media-breakpoint-down(md){
      height:auto;
      padding-bottom: 80px;
    }

		.container{
			height: 100%;
			display: flex;
			flex-direction: column;
		}
}

.main-header__fortunetelling-btn-wrap{
	position: absolute;
	height: 50px;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 10;
	transform: translate(92px, -28px);
}

.main-header__fortunetelling-btn{
	background: #fff;	
	color: #e23b33;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 12px;
	border-radius: 20px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.main-header__fortunetelling-text{
	background: #fff;	
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14px;
	border-radius: 20px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	font-family:'OpenSans';
	width: 250px;
	transform: translateX(-58px);
	margin-top: 20px;
	position: relative;
	display: none;

	&.show{
		display: block;
	}
}

.main-header__fortunetelling-close{
	position: absolute;
	top: 5px;
	right: 15px;
	border: none;
	background: transparent;
	transition: .1s;

	&:hover .fa{
		color: #e23b33;
	}
}

.starts__background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    @include media-breakpoint-down(md){
      display:none;
    }
  
    .stars {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
}

@keyframes stairs {
    0% {
      opacity: 0;
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    20% {
      opacity: 1;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      -moz-transform: scale(3);
      -ms-transform: scale(3);
      -webkit-transform: scale(3);
      transform: scale(3);
    }
  }


.stars-animation {
    -moz-animation: stairs 9s linear infinite;
    -webkit-animation: stairs 9s linear infinite;
    animation: stairs 9s linear infinite;
  }

.stars-animation-two {
    -moz-animation: stairs 9s linear infinite;
    -webkit-animation: stairs 9s linear infinite;
    animation: stairs 9s linear infinite;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.stars-animation-three {
    -moz-animation: stairs 9s linear infinite;
    -webkit-animation: stairs 9s linear infinite;
    animation: stairs 9s linear infinite;
    -moz-animation-delay: 6s;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
  }


  .main-menu{		
		background: rgba(255,255,255, 0.1);
		position: relative;
		margin-bottom: 20px;

		&::before{
			position: absolute;
			content: '';
			top: 0;
			bottom: 0;
			left: -60px;
			width: 60px;
			@include linearGradient(to right, #1A181D, #313034);
			border-radius: 0 0 0 100px;

			@include media-breakpoint-down(lg){
				display: none;
			}
		}

		&::after{
			position: absolute;
			content: '';
			top: 0;
			bottom: 0;
			right: -60px;
			width: 60px;
			@include linearGradient(to left, #1A181D, #313034);
			border-radius: 0 0 100px 0;

			@include media-breakpoint-down(lg){
				display: none;
			}
		}

    .navbar-nav{
      width:100%;
		}

		.nav-item.active{

			.nav-link{
				color: $primary;
			}
		}
		
		.nav-link{
			color: #fff;
			font-size: 15px;
		}

		.navbar-toggler{
			border: none;

			&:focus{
				outline: 1px dashed #fff;
			}
			
			.navbar-toggler-icon{
				@include burger(25px, 3px, 5px, #fff);
			}
		}

		.navbar-toggler[aria-expanded="true"]{
			.navbar-toggler-icon{
				@include burger-to-cross;
			}
		}

	}
	
	.main-menu--simple-page{
		margin-bottom: 126px;

		&::before, &::after{
			display: none;
		}
	}

	.simple-header{
		padding-bottom: 60px;
	}


  .main-header__content{
		margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    padding-top: 30px;
  }



  
  @keyframes loadingRotation {
    0% {
      opacity: 0;
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    20% {
      opacity: 0.5;
    }
  
    100% {
      -moz-transform: rotate(720deg);
      -ms-transform: rotate(720deg);
      -webkit-transform: rotate(720deg);
      transform: rotate(720deg);
    }
	}

	@keyframes loadingRotationClick {
    0% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -moz-transform: rotate(720deg);
      -ms-transform: rotate(720deg);
      -webkit-transform: rotate(720deg);
      transform: rotate(720deg);
    }
	}
	

  .main-header__image{
    max-width:320px;
    margin:0 auto;
    position:relative;
    padding-bottom: 30px;
    z-index:100;
    &::before{
      position:absolute;
      content:'';
      width:100%;
      height:100%;
      background-image: url('../img/site/black-star/loading.png');
      background-size:contain;
      background-repeat:no-repeat;
      background-position: center center;
      top:-31px;
			z-index:1; 		     
		}

		&.start::before{
			animation: loadingRotation 4s ease-out;     
			transform: rotate(720deg);
		}
		
		&.animate::before{
			// -moz-animation: loadingRotation 4s ease-out;
      // -webkit-animation: loadingRotation 4s ease-out;
      // animation: loadingRotation 4s ease-out;
      // -moz-transform: rotate(755deg);
      // -ms-transform: rotate(755deg);
      // -webkit-transform: rotate(755deg);
			// transform: rotate(755deg);
			// animation-play-state: initial;


		
      animation: loadingRotationClick 4s ease-out;     
			transform: rotate(720deg);
		}

    img{
      display:block;
      width:100%;
      height:auto;
      z-index: 10;
      position: relative;
    }
    #myCanvasContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    #myCanvas {
      cursor: pointer;
    }
  }


  .main-header__title{
    text-align:center;
    text-transform:uppercase;
    color: #ebeae5;
    font-family:'Baron Neue';
    font-weight:bold;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
		letter-spacing: 22px;
		margin-bottom: 18px;
		line-height: 1.2;

		span{
			color: #e23b33;
		}

    @include media-breakpoint-down(sm){
      letter-spacing: 5px;
      font-size:24px;
    }
  }

  .main-header__description{
    text-align:center;
    color:#fff;
    text-transform:uppercase;
    color: #817f80;
    letter-spacing: 4px;
    margin: 6px;
    line-height: 1.8;
    font-size: 12px;
    margin-bottom: 30px;

  }
  .main-header__btn{
    text-align:center;
    position: relative;
		z-index: 100000;
		
		.btn{
			border: none;
		}
  }

  .team{
    background-color: #1a181d;
    background-position: 80% 100%, 60% 0%; 
    position: relative;
		padding-bottom:120px;
  }
.team__img{
  max-width: 150px;
  max-height:280px;
  margin: 0 auto;
  border-radius: 10px;
  overflow:hidden;
  img{
    display:block;
    width:100%;
    height: auto;
  }
}
.team__img-wrap{
  background-image: url('../img/site/black-star/card_rhombus.png');
  width:100%;
  height:100%;
  background-size: contain;
  content:'';
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.team__name{
  color:#fff;
  text-align:center;
  font-size:20px;
  font-family:'Baron Neue';
	font-weight: bold;
	margin-bottom: 8px;
}

.team__decription{
  font-size:15px;
  color:rgb(129, 127, 128);
  text-transform:none;
  font-family:'OpenSans';
  font-weight:normal;
  text-align: center;
  margin-bottom: 30px;  
  padding-left: 15px;
  padding-right: 15px;
}

.team__btn{
  text-align:center;
  .btn-primary{
		background-color:transparent;
		border: 1px solid #fff;
    &:hover{
      background-color: #fff;
      border-color:#fff;
      color:rgb(129, 127, 128);
    }
  }
}

.team__slider{
  position:relative;
  z-index:1000000;
  .owl-nav{
    margin-top:35px;
    .owl-prev, .owl-next{
      position: absolute;
      width: 60px;
      height:60px;
      transform: rotate(45deg);
      border:1px solid #fff!important;
      transition: .2s;
      outline: none !important;
      margin: auto;
      display:block;
    }
    .owl-prev{
        left:45%;
        @include media-breakpoint-down(lg){
          left:30%;
        }
        @include media-breakpoint-down(md){
          left:15%;
        }
    }
    .owl-next{
      right:45%;
      @include media-breakpoint-down(lg){
        right:30%;
      }
      @include media-breakpoint-down(md){
        right:15%;
      }
    }
    .fa-chevron-right:before{
      color: #fff;
      font-weight: bold;
      font-size: 30px;
      transform: rotate(135deg);
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      font-style: normal;
      }
    .fa-chevron-left:before{
      color: #fff;
      font-weight: bold;
      font-size: 30px;
      transform: rotate(135deg);
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      font-style: normal;
      }

  }
}

.reviews{
  background-color: #1a181d;
  box-shadow: 0px -1px 43px 4px rgba(#ffffff, .2);
  position:relative;
  .section-title{
    position:relative;
  }
}

@keyframes "rotate" {
	0% {
		transform: rotateX(0) rotateY(0) rotateZ(0);
	}
	100% {
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}

.view {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	perspective: 400;
}
.plane {
	width: 120px;
	height: 120px;
	transform-style: preserve-3d;
}
.plane.main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transform: rotateX(60deg) rotateZ(-30deg);
	animation: rotate 20s infinite linear;
	.circle {
		width: 120px;
		height: 120px;
		position: absolute;
		transform-style: preserve-3d;
		border-radius: 100%;
		box-sizing: border-box;
		box-shadow: 0 0 60px #fff, inset 0 0 60px #fff;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 10%;
			height: 10%;
			border-radius: 100%;
			background: #fff;
			box-sizing: border-box;
			box-shadow: 0 0 60px 2px #fff;
			transform: translateZ(-90px);
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 10%;
			height: 10%;
			border-radius: 100%;
			background: #fff;
			box-sizing: border-box;
			box-shadow: 0 0 60px 2px #fff;
			transform: translateZ(90px);
		}
		&:nth-child(1) {
			transform: rotateZ(72deg) rotateX(63.435deg);
		}
		&:nth-child(2) {
			transform: rotateZ(144deg) rotateX(63.435deg);
		}
		&:nth-child(3) {
			transform: rotateZ(216deg) rotateX(63.435deg);
		}
		&:nth-child(4) {
			transform: rotateZ(288deg) rotateX(63.435deg);
		}
		&:nth-child(5) {
			transform: rotateZ(360deg) rotateX(63.435deg);
		}
	}
}


.reviews__slider{
  .owl-nav{
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    @include media-breakpoint-down(md){
      top:10%;
    }

    .owl-prev, .owl-next{
      position: absolute;
      width: 60px;
      height:60px;
      transform: rotate(45deg);
      border:1px solid #fff!important;
      transition: .2s;
      outline: none !important;
      margin: auto;
      display:block;
    }
    .owl-prev{
        left:0%;
    }
    .owl-next{
      right:0%;
    }
    .fa-chevron-right:before{
      color: #fff;
      font-weight: bold;
      font-size: 30px;
      transform: rotate(135deg);
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      font-style: normal;
      }
    .fa-chevron-left:before{
      color: #fff;
      font-weight: bold;
      font-size: 30px;
      transform: rotate(135deg);
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      font-style: normal;
      }

  }
}



.reviews__slide{
  padding-left:90px;
  padding-right:90px;
  @include media-breakpoint-down(md){
    padding-left:40px;
    padding-right:40px;
  }
  @include media-breakpoint-down(sm){
    padding-left:15px;
    padding-right:15px;
  }

}

.reviews__img{
  max-width: 222px;
  margin:0 auto;
  img{
    display:block;
    width:100%;
    height:auto;
  }
}
.reviews__content{
  padding-top: 20px;
}
.reviews__name{
  font-size:20px;
  color:#ebeae5;
  margin-bottom: 10px;
  
}

.reviews__skill{
  font-size:18px;
  color:#817f80;
  font-family:'OpenSans';  
  margin-bottom: 15px;
  text-transform: none;
}

.reviews__description{
  font-size:14px;
  color:#ebeae5;
  font-family:'OpenSans';  
  text-transform: none;
  margin-bottom: 15px;
}

.reviews__review{
  padding-top: 30px;
  .reviews__review__img{
      width:120px;
      height:120px;
      overflow:hidden;
      border-radius:10px;
      margin: 0 auto;
      margin-top: 28px;
    img{
      display:block;
      width:100%;
      height:auto;
    }
    @include media-breakpoint-down(md){
      display:none;
    }
    &--hidden-lg{
      display:none;
      @include media-breakpoint-down(md){
        display:block;
      }
    }
  }

}

.reviews__review__name{
  font-size:16px;
  color:#ebeae5;
  font-family:'OpenSans';  
  text-transform: none;
  text-align:right;
  margin-bottom:5px;
  @include media-breakpoint-down(md){
    text-align:center;
    margin-top: 10px;
  }

}

.reviews__review-text{
  font-size:12px;
  color:#ebeae5;
  font-family:'OpenSans';  
  text-transform: none;
  border-radius:10px;
  // border:1px solid #fff;
  padding:10px 20px;
  background-color:rgba(#000, .4);
  box-shadow: 0px 0px 38px 9px rgba(0,0,0,0.7);
  margin-bottom: 40px;
}

.reviews__btns{
  display:flex;
  justify-content: space-around;
  @include media-breakpoint-down(md){
    flex-wrap:wrap;
  }
  .btn{
    @include media-breakpoint-down(sm){
      padding-left: 20px;
      padding-right: 20px;
      font-size:14px;
    }
    @include media-breakpoint-down(xs){
      margin-bottom: 15px;
    }
  }
}

.dodecator{
  @include media-breakpoint-down(md){
    display:none;
  }
  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
  }
  
  .lines .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  
  .lines .line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: run 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  
  .lines .line:nth-child(1) {
    margin-left: -25%;
  }
  
  .lines .line:nth-child(1)::after {
    animation-delay: 2s;
  }
  
  .lines .line:nth-child(3) {
    margin-left: 25%;
  }
  
  .lines .line:nth-child(3)::after {
    animation-delay: 2.5s;
  }
  
  @keyframes run {
    0% {
      top: -50%;
    }
  
    100% {
      top: 110%;
    }
  }
}

.products{
  background-color:#1a181d;
  position:relative;
  // background-image:url('../img/site/products-bg.jpg');
  background-size: cover;

  .section-title{
    margin-bottom: 30px;
    position:relative;
  }
  .products__description{
    text-align:center;
    color:#ebeae5;
    margin-bottom: 60px;
    position:relative;
  }
}

.products__categories{
  position:relative;
  .nav{
    justify-content:center;
    @include media-breakpoint-down(sm){
      flex-wrap:wrap;
      justify-content:space-between;
     
    }
    
  }
  .nav-item{
    margin-right: 10px;
    margin-left: 10px;
    @include media-breakpoint-down(sm){
      flex-basis:40%;
      min-width:125px;
      margin-bottom: 10px;
    }
  }
  .nav-link{
    color:#ebeae5;
    border:1px solid #ebeae5;
		padding: 13px 22px;
  }
  .nav-link.active{
    color:#817f80;;
    border:1px solid #ebeae5;
    padding: 13px 22px;
    background-color:#ebeae5;
  }
  .tab-content{
    margin-top: 40px;
  }
}

.products__item{
  position:relative;
  border-radius: 10px;
  background-color:rgba(#000, .4);
  box-shadow: 0px 0px 38px 9px rgba(0,0,0,0.7);
  padding:15px;
  margin-bottom: 30px;
}
.product__item-wrap{
  border-radius:10px;
  padding-bottom: 30px;
  overflow:hidden;
}

.product__title{
  font-size:16px;
  font-weight:bold;
  font-family:'OpenSans';
  color:#ebeae5;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.product__img{
  max-height:315px;
  margin-bottom: 30px;
  overflow:hidden;
  @include media-breakpoint-down(xs){
    max-height:100%;
  }
  img{
    display:block;
    width:100%;
    height: auto;
  }
}
.product__description{
  font-size:13px;
  color:#ebeae5;
  text-transform: none;
  font-family:'OpenSans';
  padding-left: 15px;
  padding-right: 15px;
	margin-bottom: 20px;
	line-height: 1.6;
}
.product__btn{
  padding-left: 15px;
  .btn-primary{
		border: none;
  }
}

.products__background{
  @keyframes "move1" {
    0% {
      transform: translateX(18vw) translateY(-4vh) scale(1);
    }
    5.88235% {
      transform: translateX(12vw) translateY(-49vh) scale(0.68);
    }
    11.76471% {
      transform: translateX(21vw) translateY(-29vh) scale(0.78);
    }
    17.64706% {
      transform: translateX(35vw) translateY(6vh) scale(0.58);
    }
    23.52941% {
      transform: translateX(18vw) translateY(-14vh) scale(0.81);
    }
    29.41176% {
      transform: translateX(-16vw) translateY(16vh) scale(0.32);
    }
    35.29412% {
      transform: translateX(-10vw) translateY(34vh) scale(0.4);
    }
    41.17647% {
      transform: translateX(-43vw) translateY(16vh) scale(0.6);
    }
    47.05882% {
      transform: translateX(42vw) translateY(32vh) scale(0.33);
    }
    52.94118% {
      transform: translateX(-34vw) translateY(16vh) scale(0.97);
    }
    58.82353% {
      transform: translateX(27vw) translateY(12vh) scale(0.83);
    }
    64.70588% {
      transform: translateX(32vw) translateY(5vh) scale(0.28);
    }
    70.58824% {
      transform: translateX(-9vw) translateY(-4vh) scale(0.91);
    }
    76.47059% {
      transform: translateX(-47vw) translateY(14vh) scale(0.68);
    }
    82.35294% {
      transform: translateX(5vw) translateY(6vh) scale(0.78);
    }
    88.23529% {
      transform: translateX(9vw) translateY(-17vh) scale(0.42);
    }
    94.11765% {
      transform: translateX(48vw) translateY(-7vh) scale(0.8);
    }
    100% {
      transform: translateX(22vw) translateY(-13vh) scale(0.44);
    }
  }
  @keyframes "move2" {
    0% {
      transform: translateX(-34vw) translateY(-22vh) scale(0.56);
    }
    5.88235% {
      transform: translateX(-47vw) translateY(-38vh) scale(0.68);
    }
    11.76471% {
      transform: translateX(31vw) translateY(-25vh) scale(0.74);
    }
    17.64706% {
      transform: translateX(-46vw) translateY(-2vh) scale(0.45);
    }
    23.52941% {
      transform: translateX(-33vw) translateY(-36vh) scale(0.26);
    }
    29.41176% {
      transform: translateX(-16vw) translateY(-31vh) scale(0.84);
    }
    35.29412% {
      transform: translateX(30vw) translateY(-17vh) scale(0.27);
    }
    41.17647% {
      transform: translateX(15vw) translateY(-26vh) scale(0.65);
    }
    47.05882% {
      transform: translateX(14vw) translateY(29vh) scale(0.89);
    }
    52.94118% {
      transform: translateX(23vw) translateY(-21vh) scale(0.68);
    }
    58.82353% {
      transform: translateX(-33vw) translateY(21vh) scale(0.82);
    }
    64.70588% {
      transform: translateX(5vw) translateY(18vh) scale(0.32);
    }
    70.58824% {
      transform: translateX(14vw) translateY(-3vh) scale(0.76);
    }
    76.47059% {
      transform: translateX(11vw) translateY(-23vh) scale(0.43);
    }
    82.35294% {
      transform: translateX(32vw) translateY(19vh) scale(0.45);
    }
    88.23529% {
      transform: translateX(-2vw) translateY(40vh) scale(0.51);
    }
    94.11765% {
      transform: translateX(-39vw) translateY(41vh) scale(0.82);
    }
    100% {
      transform: translateX(-48vw) translateY(36vh) scale(0.47);
    }
  }
  @keyframes "move3" {
    0% {
      transform: translateX(24vw) translateY(1vh) scale(0.91);
    }
    4.54545% {
      transform: translateX(-16vw) translateY(-38vh) scale(0.58);
    }
    9.09091% {
      transform: translateX(0vw) translateY(-3vh) scale(0.73);
    }
    13.63636% {
      transform: translateX(29vw) translateY(28vh) scale(0.46);
    }
    18.18182% {
      transform: translateX(21vw) translateY(-16vh) scale(0.91);
    }
    22.72727% {
      transform: translateX(26vw) translateY(35vh) scale(0.27);
    }
    27.27273% {
      transform: translateX(24vw) translateY(34vh) scale(0.62);
    }
    31.81818% {
      transform: translateX(14vw) translateY(35vh) scale(0.35);
    }
    36.36364% {
      transform: translateX(33vw) translateY(16vh) scale(0.89);
    }
    40.90909% {
      transform: translateX(38vw) translateY(-20vh) scale(0.43);
    }
    45.45455% {
      transform: translateX(44vw) translateY(-9vh) scale(0.56);
    }
    50% {
      transform: translateX(42vw) translateY(-36vh) scale(0.62);
    }
    54.54545% {
      transform: translateX(-21vw) translateY(50vh) scale(0.47);
    }
    59.09091% {
      transform: translateX(4vw) translateY(34vh) scale(0.97);
    }
    63.63636% {
      transform: translateX(47vw) translateY(-1vh) scale(0.38);
    }
    68.18182% {
      transform: translateX(-25vw) translateY(14vh) scale(0.78);
    }
    72.72727% {
      transform: translateX(19vw) translateY(-26vh) scale(0.72);
    }
    77.27273% {
      transform: translateX(0vw) translateY(-19vh) scale(0.46);
    }
    81.81818% {
      transform: translateX(-47vw) translateY(-27vh) scale(0.45);
    }
    86.36364% {
      transform: translateX(29vw) translateY(46vh) scale(0.3);
    }
    90.90909% {
      transform: translateX(-7vw) translateY(-27vh) scale(0.76);
    }
    95.45455% {
      transform: translateX(19vw) translateY(-47vh) scale(0.75);
    }
    100% {
      transform: translateX(13vw) translateY(-39vh) scale(0.3);
    }
  }
  @keyframes "move4" {
    0% {
      transform: translateX(22vw) translateY(31vh) scale(0.59);
    }
    4% {
      transform: translateX(17vw) translateY(32vh) scale(0.9);
    }
    8% {
      transform: translateX(7vw) translateY(20vh) scale(0.42);
    }
    12% {
      transform: translateX(9vw) translateY(-39vh) scale(0.51);
    }
    16% {
      transform: translateX(-9vw) translateY(25vh) scale(0.68);
    }
    20% {
      transform: translateX(18vw) translateY(45vh) scale(0.91);
    }
    24% {
      transform: translateX(22vw) translateY(35vh) scale(0.26);
    }
    28% {
      transform: translateX(48vw) translateY(-3vh) scale(0.35);
    }
    32% {
      transform: translateX(29vw) translateY(-15vh) scale(0.58);
    }
    36% {
      transform: translateX(42vw) translateY(11vh) scale(0.49);
    }
    40% {
      transform: translateX(-40vw) translateY(0vh) scale(0.35);
    }
    44% {
      transform: translateX(47vw) translateY(49vh) scale(0.41);
    }
    48% {
      transform: translateX(-45vw) translateY(40vh) scale(0.39);
    }
    52% {
      transform: translateX(42vw) translateY(11vh) scale(0.84);
    }
    56% {
      transform: translateX(22vw) translateY(-16vh) scale(0.51);
    }
    60% {
      transform: translateX(-16vw) translateY(0vh) scale(0.47);
    }
    64% {
      transform: translateX(20vw) translateY(-5vh) scale(0.81);
    }
    68% {
      transform: translateX(28vw) translateY(-45vh) scale(0.66);
    }
    72% {
      transform: translateX(32vw) translateY(-13vh) scale(0.66);
    }
    76% {
      transform: translateX(-31vw) translateY(46vh) scale(0.43);
    }
    80% {
      transform: translateX(10vw) translateY(-13vh) scale(0.96);
    }
    84% {
      transform: translateX(-20vw) translateY(-24vh) scale(0.5);
    }
    88% {
      transform: translateX(23vw) translateY(-35vh) scale(0.91);
    }
    92% {
      transform: translateX(-43vw) translateY(0vh) scale(0.26);
    }
    96% {
      transform: translateX(27vw) translateY(-21vh) scale(0.72);
    }
    100% {
      transform: translateX(7vw) translateY(40vh) scale(0.78);
    }
  }
  @keyframes "move5" {
    0% {
      transform: translateX(14vw) translateY(4vh) scale(0.93);
    }
    4.54545% {
      transform: translateX(37vw) translateY(-47vh) scale(0.78);
    }
    9.09091% {
      transform: translateX(45vw) translateY(-49vh) scale(0.35);
    }
    13.63636% {
      transform: translateX(-45vw) translateY(47vh) scale(0.34);
    }
    18.18182% {
      transform: translateX(7vw) translateY(-17vh) scale(0.54);
    }
    22.72727% {
      transform: translateX(-45vw) translateY(13vh) scale(0.27);
    }
    27.27273% {
      transform: translateX(28vw) translateY(-6vh) scale(0.35);
    }
    31.81818% {
      transform: translateX(-6vw) translateY(-35vh) scale(0.78);
    }
    36.36364% {
      transform: translateX(-33vw) translateY(25vh) scale(0.65);
    }
    40.90909% {
      transform: translateX(-46vw) translateY(10vh) scale(0.71);
    }
    45.45455% {
      transform: translateX(14vw) translateY(27vh) scale(0.78);
    }
    50% {
      transform: translateX(-6vw) translateY(43vh) scale(0.98);
    }
    54.54545% {
      transform: translateX(-9vw) translateY(25vh) scale(0.46);
    }
    59.09091% {
      transform: translateX(19vw) translateY(-21vh) scale(0.6);
    }
    63.63636% {
      transform: translateX(-34vw) translateY(2vh) scale(0.6);
    }
    68.18182% {
      transform: translateX(1vw) translateY(7vh) scale(0.36);
    }
    72.72727% {
      transform: translateX(-3vw) translateY(-4vh) scale(0.92);
    }
    77.27273% {
      transform: translateX(-30vw) translateY(19vh) scale(0.75);
    }
    81.81818% {
      transform: translateX(7vw) translateY(37vh) scale(0.32);
    }
    86.36364% {
      transform: translateX(13vw) translateY(5vh) scale(0.72);
    }
    90.90909% {
      transform: translateX(-26vw) translateY(-2vh) scale(0.66);
    }
    95.45455% {
      transform: translateX(39vw) translateY(16vh) scale(0.47);
    }
    100% {
      transform: translateX(9vw) translateY(-32vh) scale(0.9);
    }
  }
  @keyframes "move6" {
    0% {
      transform: translateX(44vw) translateY(30vh) scale(0.46);
    }
    5.26316% {
      transform: translateX(8vw) translateY(-13vh) scale(0.49);
    }
    10.52632% {
      transform: translateX(-24vw) translateY(14vh) scale(0.47);
    }
    15.78947% {
      transform: translateX(-21vw) translateY(-4vh) scale(0.68);
    }
    21.05263% {
      transform: translateX(17vw) translateY(-18vh) scale(0.43);
    }
    26.31579% {
      transform: translateX(-10vw) translateY(-44vh) scale(0.64);
    }
    31.57895% {
      transform: translateX(8vw) translateY(43vh) scale(0.93);
    }
    36.84211% {
      transform: translateX(3vw) translateY(-16vh) scale(0.86);
    }
    42.10526% {
      transform: translateX(7vw) translateY(-36vh) scale(0.99);
    }
    47.36842% {
      transform: translateX(-35vw) translateY(22vh) scale(0.35);
    }
    52.63158% {
      transform: translateX(13vw) translateY(-26vh) scale(0.74);
    }
    57.89474% {
      transform: translateX(29vw) translateY(-1vh) scale(0.65);
    }
    63.15789% {
      transform: translateX(40vw) translateY(26vh) scale(0.41);
    }
    68.42105% {
      transform: translateX(41vw) translateY(0vh) scale(0.75);
    }
    73.68421% {
      transform: translateX(-48vw) translateY(-13vh) scale(0.56);
    }
    78.94737% {
      transform: translateX(18vw) translateY(29vh) scale(0.97);
    }
    84.21053% {
      transform: translateX(19vw) translateY(41vh) scale(0.81);
    }
    89.47368% {
      transform: translateX(-47vw) translateY(32vh) scale(0.44);
    }
    94.73684% {
      transform: translateX(-36vw) translateY(34vh) scale(0.67);
    }
    100% {
      transform: translateX(25vw) translateY(-49vh) scale(0.73);
    }
  }
  @keyframes "move7" {
    0% {
      transform: translateX(30vw) translateY(-49vh) scale(0.28);
    }
    4% {
      transform: translateX(-43vw) translateY(9vh) scale(0.99);
    }
    8% {
      transform: translateX(-8vw) translateY(-29vh) scale(0.8);
    }
    12% {
      transform: translateX(-10vw) translateY(19vh) scale(0.95);
    }
    16% {
      transform: translateX(-14vw) translateY(-23vh) scale(1);
    }
    20% {
      transform: translateX(25vw) translateY(-35vh) scale(0.89);
    }
    24% {
      transform: translateX(34vw) translateY(33vh) scale(0.82);
    }
    28% {
      transform: translateX(-39vw) translateY(-22vh) scale(0.78);
    }
    32% {
      transform: translateX(41vw) translateY(-40vh) scale(0.44);
    }
    36% {
      transform: translateX(13vw) translateY(-21vh) scale(0.7);
    }
    40% {
      transform: translateX(42vw) translateY(-12vh) scale(0.35);
    }
    44% {
      transform: translateX(-49vw) translateY(-21vh) scale(0.53);
    }
    48% {
      transform: translateX(-32vw) translateY(-20vh) scale(0.73);
    }
    52% {
      transform: translateX(12vw) translateY(-10vh) scale(0.28);
    }
    56% {
      transform: translateX(47vw) translateY(-27vh) scale(0.78);
    }
    60% {
      transform: translateX(-19vw) translateY(9vh) scale(0.82);
    }
    64% {
      transform: translateX(20vw) translateY(-19vh) scale(0.35);
    }
    68% {
      transform: translateX(33vw) translateY(-38vh) scale(0.34);
    }
    72% {
      transform: translateX(6vw) translateY(-4vh) scale(0.65);
    }
    76% {
      transform: translateX(14vw) translateY(-27vh) scale(0.91);
    }
    80% {
      transform: translateX(43vw) translateY(-22vh) scale(1);
    }
    84% {
      transform: translateX(19vw) translateY(-15vh) scale(0.75);
    }
    88% {
      transform: translateX(20vw) translateY(15vh) scale(0.29);
    }
    92% {
      transform: translateX(45vw) translateY(-22vh) scale(0.95);
    }
    96% {
      transform: translateX(23vw) translateY(-22vh) scale(0.92);
    }
    100% {
      transform: translateX(-5vw) translateY(-39vh) scale(0.69);
    }
  }
  @keyframes "move8" {
    0% {
      transform: translateX(33vw) translateY(-38vh) scale(0.81);
    }
    4.54545% {
      transform: translateX(37vw) translateY(45vh) scale(0.65);
    }
    9.09091% {
      transform: translateX(8vw) translateY(-21vh) scale(0.72);
    }
    13.63636% {
      transform: translateX(-20vw) translateY(-20vh) scale(0.92);
    }
    18.18182% {
      transform: translateX(-37vw) translateY(33vh) scale(0.84);
    }
    22.72727% {
      transform: translateX(-26vw) translateY(28vh) scale(0.33);
    }
    27.27273% {
      transform: translateX(29vw) translateY(-33vh) scale(0.65);
    }
    31.81818% {
      transform: translateX(-22vw) translateY(38vh) scale(0.98);
    }
    36.36364% {
      transform: translateX(23vw) translateY(-19vh) scale(0.58);
    }
    40.90909% {
      transform: translateX(7vw) translateY(50vh) scale(0.76);
    }
    45.45455% {
      transform: translateX(-27vw) translateY(41vh) scale(0.96);
    }
    50% {
      transform: translateX(-40vw) translateY(5vh) scale(0.76);
    }
    54.54545% {
      transform: translateX(-28vw) translateY(-26vh) scale(0.3);
    }
    59.09091% {
      transform: translateX(18vw) translateY(18vh) scale(0.93);
    }
    63.63636% {
      transform: translateX(-30vw) translateY(-38vh) scale(0.78);
    }
    68.18182% {
      transform: translateX(-6vw) translateY(26vh) scale(0.3);
    }
    72.72727% {
      transform: translateX(-9vw) translateY(-30vh) scale(0.69);
    }
    77.27273% {
      transform: translateX(4vw) translateY(25vh) scale(0.66);
    }
    81.81818% {
      transform: translateX(-14vw) translateY(-5vh) scale(0.56);
    }
    86.36364% {
      transform: translateX(-19vw) translateY(-38vh) scale(0.59);
    }
    90.90909% {
      transform: translateX(-23vw) translateY(17vh) scale(0.72);
    }
    95.45455% {
      transform: translateX(-45vw) translateY(-28vh) scale(0.31);
    }
    100% {
      transform: translateX(20vw) translateY(30vh) scale(0.61);
    }
  }
  @keyframes "move9" {
    0% {
      transform: translateX(-4vw) translateY(-32vh) scale(0.95);
    }
    3.57143% {
      transform: translateX(-29vw) translateY(18vh) scale(0.63);
    }
    7.14286% {
      transform: translateX(-33vw) translateY(23vh) scale(0.45);
    }
    10.71429% {
      transform: translateX(24vw) translateY(1vh) scale(0.35);
    }
    14.28571% {
      transform: translateX(-41vw) translateY(9vh) scale(0.71);
    }
    17.85714% {
      transform: translateX(24vw) translateY(-36vh) scale(0.54);
    }
    21.42857% {
      transform: translateX(45vw) translateY(-17vh) scale(0.56);
    }
    25% {
      transform: translateX(-32vw) translateY(25vh) scale(0.39);
    }
    28.57143% {
      transform: translateX(11vw) translateY(-45vh) scale(0.46);
    }
    32.14286% {
      transform: translateX(-37vw) translateY(14vh) scale(0.3);
    }
    35.71429% {
      transform: translateX(39vw) translateY(11vh) scale(0.51);
    }
    39.28571% {
      transform: translateX(-48vw) translateY(50vh) scale(0.35);
    }
    42.85714% {
      transform: translateX(50vw) translateY(21vh) scale(0.77);
    }
    46.42857% {
      transform: translateX(-39vw) translateY(18vh) scale(1);
    }
    50% {
      transform: translateX(10vw) translateY(49vh) scale(0.51);
    }
    53.57143% {
      transform: translateX(-43vw) translateY(40vh) scale(0.7);
    }
    57.14286% {
      transform: translateX(19vw) translateY(-20vh) scale(0.75);
    }
    60.71429% {
      transform: translateX(-33vw) translateY(21vh) scale(0.42);
    }
    64.28571% {
      transform: translateX(-6vw) translateY(-5vh) scale(0.85);
    }
    67.85714% {
      transform: translateX(-46vw) translateY(-16vh) scale(0.42);
    }
    71.42857% {
      transform: translateX(11vw) translateY(-45vh) scale(0.52);
    }
    75% {
      transform: translateX(-47vw) translateY(-39vh) scale(0.64);
    }
    78.57143% {
      transform: translateX(-7vw) translateY(-31vh) scale(0.52);
    }
    82.14286% {
      transform: translateX(-46vw) translateY(49vh) scale(0.33);
    }
    85.71429% {
      transform: translateX(-19vw) translateY(2vh) scale(0.64);
    }
    89.28571% {
      transform: translateX(-31vw) translateY(0vh) scale(0.7);
    }
    92.85714% {
      transform: translateX(15vw) translateY(-43vh) scale(0.4);
    }
    96.42857% {
      transform: translateX(49vw) translateY(44vh) scale(0.86);
    }
    100% {
      transform: translateX(-5vw) translateY(-2vh) scale(0.62);
    }
  }
  @keyframes "move10" {
    0% {
      transform: translateX(31vw) translateY(33vh) scale(0.73);
    }
    3.84615% {
      transform: translateX(23vw) translateY(-19vh) scale(0.33);
    }
    7.69231% {
      transform: translateX(-34vw) translateY(-9vh) scale(0.56);
    }
    11.53846% {
      transform: translateX(25vw) translateY(-46vh) scale(0.82);
    }
    15.38462% {
      transform: translateX(-22vw) translateY(-3vh) scale(0.92);
    }
    19.23077% {
      transform: translateX(29vw) translateY(-29vh) scale(0.32);
    }
    23.07692% {
      transform: translateX(27vw) translateY(-21vh) scale(0.35);
    }
    26.92308% {
      transform: translateX(28vw) translateY(-9vh) scale(0.7);
    }
    30.76923% {
      transform: translateX(-19vw) translateY(-29vh) scale(0.37);
    }
    34.61538% {
      transform: translateX(-47vw) translateY(48vh) scale(0.49);
    }
    38.46154% {
      transform: translateX(-41vw) translateY(-25vh) scale(0.31);
    }
    42.30769% {
      transform: translateX(32vw) translateY(29vh) scale(0.89);
    }
    46.15385% {
      transform: translateX(-38vw) translateY(-36vh) scale(0.3);
    }
    50% {
      transform: translateX(-12vw) translateY(36vh) scale(0.8);
    }
    53.84615% {
      transform: translateX(28vw) translateY(10vh) scale(0.91);
    }
    57.69231% {
      transform: translateX(9vw) translateY(37vh) scale(0.42);
    }
    61.53846% {
      transform: translateX(-14vw) translateY(41vh) scale(0.99);
    }
    65.38462% {
      transform: translateX(-10vw) translateY(-18vh) scale(0.91);
    }
    69.23077% {
      transform: translateX(-49vw) translateY(-30vh) scale(0.62);
    }
    73.07692% {
      transform: translateX(10vw) translateY(-41vh) scale(0.68);
    }
    76.92308% {
      transform: translateX(43vw) translateY(1vh) scale(0.53);
    }
    80.76923% {
      transform: translateX(-35vw) translateY(-45vh) scale(0.99);
    }
    84.61538% {
      transform: translateX(27vw) translateY(43vh) scale(0.72);
    }
    88.46154% {
      transform: translateX(-44vw) translateY(1vh) scale(0.46);
    }
    92.30769% {
      transform: translateX(46vw) translateY(-25vh) scale(0.81);
    }
    96.15385% {
      transform: translateX(40vw) translateY(3vh) scale(0.49);
    }
    100% {
      transform: translateX(-28vw) translateY(45vh) scale(0.35);
    }
  }
  @keyframes "move11" {
    0% {
      transform: translateX(-31vw) translateY(35vh) scale(0.37);
    }
    5% {
      transform: translateX(30vw) translateY(1vh) scale(0.53);
    }
    10% {
      transform: translateX(28vw) translateY(43vh) scale(0.56);
    }
    15% {
      transform: translateX(14vw) translateY(44vh) scale(0.91);
    }
    20% {
      transform: translateX(15vw) translateY(-15vh) scale(0.43);
    }
    25% {
      transform: translateX(41vw) translateY(-15vh) scale(0.52);
    }
    30% {
      transform: translateX(11vw) translateY(-20vh) scale(0.41);
    }
    35% {
      transform: translateX(27vw) translateY(-13vh) scale(0.36);
    }
    40% {
      transform: translateX(-17vw) translateY(-5vh) scale(0.28);
    }
    45% {
      transform: translateX(-23vw) translateY(-12vh) scale(0.39);
    }
    50% {
      transform: translateX(-44vw) translateY(48vh) scale(0.85);
    }
    55% {
      transform: translateX(16vw) translateY(-33vh) scale(0.5);
    }
    60% {
      transform: translateX(46vw) translateY(-28vh) scale(0.84);
    }
    65% {
      transform: translateX(-22vw) translateY(-26vh) scale(0.49);
    }
    70% {
      transform: translateX(-1vw) translateY(-14vh) scale(0.71);
    }
    75% {
      transform: translateX(-43vw) translateY(9vh) scale(0.63);
    }
    80% {
      transform: translateX(45vw) translateY(-33vh) scale(0.83);
    }
    85% {
      transform: translateX(-37vw) translateY(28vh) scale(0.69);
    }
    90% {
      transform: translateX(15vw) translateY(-25vh) scale(0.93);
    }
    95% {
      transform: translateX(1vw) translateY(-28vh) scale(0.48);
    }
    100% {
      transform: translateX(-16vw) translateY(-19vh) scale(0.41);
    }
  }
  @keyframes "move12" {
    0% {
      transform: translateX(36vw) translateY(-24vh) scale(0.63);
    }
    4.7619% {
      transform: translateX(13vw) translateY(-21vh) scale(0.76);
    }
    9.52381% {
      transform: translateX(-47vw) translateY(46vh) scale(0.96);
    }
    14.28571% {
      transform: translateX(-33vw) translateY(-8vh) scale(0.5);
    }
    19.04762% {
      transform: translateX(31vw) translateY(-49vh) scale(0.96);
    }
    23.80952% {
      transform: translateX(4vw) translateY(-22vh) scale(0.85);
    }
    28.57143% {
      transform: translateX(-11vw) translateY(-14vh) scale(0.84);
    }
    33.33333% {
      transform: translateX(-23vw) translateY(33vh) scale(0.81);
    }
    38.09524% {
      transform: translateX(-13vw) translateY(38vh) scale(0.27);
    }
    42.85714% {
      transform: translateX(-7vw) translateY(-41vh) scale(0.92);
    }
    47.61905% {
      transform: translateX(-43vw) translateY(-42vh) scale(0.51);
    }
    52.38095% {
      transform: translateX(38vw) translateY(-40vh) scale(0.67);
    }
    57.14286% {
      transform: translateX(37vw) translateY(-43vh) scale(0.99);
    }
    61.90476% {
      transform: translateX(41vw) translateY(31vh) scale(0.46);
    }
    66.66667% {
      transform: translateX(32vw) translateY(-3vh) scale(0.86);
    }
    71.42857% {
      transform: translateX(-2vw) translateY(-30vh) scale(0.48);
    }
    76.19048% {
      transform: translateX(-4vw) translateY(-7vh) scale(0.5);
    }
    80.95238% {
      transform: translateX(-33vw) translateY(-22vh) scale(0.96);
    }
    85.71429% {
      transform: translateX(49vw) translateY(5vh) scale(0.36);
    }
    90.47619% {
      transform: translateX(-33vw) translateY(49vh) scale(0.58);
    }
    95.2381% {
      transform: translateX(38vw) translateY(33vh) scale(0.34);
    }
    100% {
      transform: translateX(-14vw) translateY(-13vh) scale(0.27);
    }
  }
  @keyframes "move13" {
    0% {
      transform: translateX(-26vw) translateY(-49vh) scale(0.54);
    }
    5.88235% {
      transform: translateX(-48vw) translateY(-21vh) scale(0.54);
    }
    11.76471% {
      transform: translateX(-7vw) translateY(-20vh) scale(0.49);
    }
    17.64706% {
      transform: translateX(1vw) translateY(34vh) scale(0.7);
    }
    23.52941% {
      transform: translateX(22vw) translateY(-27vh) scale(0.37);
    }
    29.41176% {
      transform: translateX(15vw) translateY(41vh) scale(0.95);
    }
    35.29412% {
      transform: translateX(43vw) translateY(-1vh) scale(0.58);
    }
    41.17647% {
      transform: translateX(-19vw) translateY(-5vh) scale(0.32);
    }
    47.05882% {
      transform: translateX(-31vw) translateY(-42vh) scale(0.64);
    }
    52.94118% {
      transform: translateX(38vw) translateY(-29vh) scale(0.45);
    }
    58.82353% {
      transform: translateX(-4vw) translateY(12vh) scale(0.95);
    }
    64.70588% {
      transform: translateX(0vw) translateY(4vh) scale(0.35);
    }
    70.58824% {
      transform: translateX(30vw) translateY(45vh) scale(0.51);
    }
    76.47059% {
      transform: translateX(-35vw) translateY(8vh) scale(0.39);
    }
    82.35294% {
      transform: translateX(-5vw) translateY(1vh) scale(0.33);
    }
    88.23529% {
      transform: translateX(48vw) translateY(2vh) scale(0.63);
    }
    94.11765% {
      transform: translateX(42vw) translateY(21vh) scale(0.81);
    }
    100% {
      transform: translateX(-19vw) translateY(-18vh) scale(0.75);
    }
  }
  @keyframes "move14" {
    0% {
      transform: translateX(41vw) translateY(23vh) scale(0.96);
    }
    3.84615% {
      transform: translateX(36vw) translateY(43vh) scale(0.63);
    }
    7.69231% {
      transform: translateX(-38vw) translateY(-9vh) scale(0.82);
    }
    11.53846% {
      transform: translateX(-2vw) translateY(35vh) scale(0.55);
    }
    15.38462% {
      transform: translateX(-46vw) translateY(-6vh) scale(0.92);
    }
    19.23077% {
      transform: translateX(-23vw) translateY(-16vh) scale(0.67);
    }
    23.07692% {
      transform: translateX(49vw) translateY(-48vh) scale(0.85);
    }
    26.92308% {
      transform: translateX(31vw) translateY(-17vh) scale(0.64);
    }
    30.76923% {
      transform: translateX(38vw) translateY(29vh) scale(1);
    }
    34.61538% {
      transform: translateX(-27vw) translateY(-6vh) scale(0.4);
    }
    38.46154% {
      transform: translateX(-29vw) translateY(-23vh) scale(0.29);
    }
    42.30769% {
      transform: translateX(5vw) translateY(-12vh) scale(0.87);
    }
    46.15385% {
      transform: translateX(-26vw) translateY(28vh) scale(0.65);
    }
    50% {
      transform: translateX(-30vw) translateY(33vh) scale(0.45);
    }
    53.84615% {
      transform: translateX(27vw) translateY(21vh) scale(0.28);
    }
    57.69231% {
      transform: translateX(-26vw) translateY(12vh) scale(0.88);
    }
    61.53846% {
      transform: translateX(19vw) translateY(-11vh) scale(0.64);
    }
    65.38462% {
      transform: translateX(-25vw) translateY(24vh) scale(0.79);
    }
    69.23077% {
      transform: translateX(40vw) translateY(41vh) scale(0.83);
    }
    73.07692% {
      transform: translateX(-34vw) translateY(39vh) scale(0.52);
    }
    76.92308% {
      transform: translateX(22vw) translateY(-34vh) scale(1);
    }
    80.76923% {
      transform: translateX(2vw) translateY(45vh) scale(0.45);
    }
    84.61538% {
      transform: translateX(-45vw) translateY(37vh) scale(0.95);
    }
    88.46154% {
      transform: translateX(-14vw) translateY(-48vh) scale(0.28);
    }
    92.30769% {
      transform: translateX(6vw) translateY(-23vh) scale(0.89);
    }
    96.15385% {
      transform: translateX(-15vw) translateY(25vh) scale(0.57);
    }
    100% {
      transform: translateX(-44vw) translateY(-49vh) scale(0.76);
    }
  }
  @keyframes "move15" {
    0% {
      transform: translateX(-8vw) translateY(32vh) scale(0.3);
    }
    4% {
      transform: translateX(31vw) translateY(28vh) scale(0.4);
    }
    8% {
      transform: translateX(30vw) translateY(46vh) scale(0.26);
    }
    12% {
      transform: translateX(-24vw) translateY(-43vh) scale(0.68);
    }
    16% {
      transform: translateX(20vw) translateY(-29vh) scale(0.45);
    }
    20% {
      transform: translateX(-48vw) translateY(31vh) scale(0.47);
    }
    24% {
      transform: translateX(43vw) translateY(-37vh) scale(0.57);
    }
    28% {
      transform: translateX(9vw) translateY(-26vh) scale(0.92);
    }
    32% {
      transform: translateX(-1vw) translateY(8vh) scale(0.32);
    }
    36% {
      transform: translateX(-38vw) translateY(-16vh) scale(0.4);
    }
    40% {
      transform: translateX(5vw) translateY(-10vh) scale(0.81);
    }
    44% {
      transform: translateX(37vw) translateY(-14vh) scale(0.67);
    }
    48% {
      transform: translateX(33vw) translateY(5vh) scale(0.69);
    }
    52% {
      transform: translateX(-31vw) translateY(-14vh) scale(0.3);
    }
    56% {
      transform: translateX(18vw) translateY(16vh) scale(0.52);
    }
    60% {
      transform: translateX(19vw) translateY(-14vh) scale(0.44);
    }
    64% {
      transform: translateX(21vw) translateY(45vh) scale(0.67);
    }
    68% {
      transform: translateX(50vw) translateY(35vh) scale(0.94);
    }
    72% {
      transform: translateX(-26vw) translateY(-47vh) scale(0.92);
    }
    76% {
      transform: translateX(10vw) translateY(-27vh) scale(0.55);
    }
    80% {
      transform: translateX(7vw) translateY(37vh) scale(0.5);
    }
    84% {
      transform: translateX(43vw) translateY(-48vh) scale(0.54);
    }
    88% {
      transform: translateX(27vw) translateY(5vh) scale(0.49);
    }
    92% {
      transform: translateX(18vw) translateY(-16vh) scale(0.62);
    }
    96% {
      transform: translateX(-45vw) translateY(-20vh) scale(0.45);
    }
    100% {
      transform: translateX(-37vw) translateY(-36vh) scale(0.76);
    }
  }
  @keyframes "drift" {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes "flash" {
    0%,30%,100% {
      opacity: 0;
      box-shadow: 0 0 0vw 0vw yellow;
    }
    5% {
      opacity: 1;
      box-shadow: 0 0 2vw 0.4vw yellow;
    }
  }

 
  .firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform-origin: -10vw;
      background: black;
      opacity: 0.4;
      animation: drift ease alternate infinite;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform-origin: -10vw;
      background: white;
      opacity: 0;
      box-shadow: 0 0 0vw 0vw yellow;
      animation: drift ease alternate infinite, flash ease infinite;
    }
    &:nth-child(1) {
      animation-name: move1;
      &::before {
        animation-duration: 9s;
      }
      &::after {
        animation-duration: 9s, 7021ms;
        animation-delay: 0ms, 1587ms;
      }
    }
    &:nth-child(2) {
      animation-name: move2;
      &::before {
        animation-duration: 16s;
      }
      &::after {
        animation-duration: 16s, 10308ms;
        animation-delay: 0ms, 765ms;
      }
    }
    &:nth-child(3) {
      animation-name: move3;
      &::before {
        animation-duration: 14s;
      }
      &::after {
        animation-duration: 14s, 5735ms;
        animation-delay: 0ms, 2101ms;
      }
    }
    &:nth-child(4) {
      animation-name: move4;
      &::before {
        animation-duration: 11s;
      }
      &::after {
        animation-duration: 11s, 7943ms;
        animation-delay: 0ms, 5037ms;
      }
    }
    &:nth-child(5) {
      animation-name: move5;
      &::before {
        animation-duration: 17s;
      }
      &::after {
        animation-duration: 17s, 7701ms;
        animation-delay: 0ms, 964ms;
      }
    }
    &:nth-child(6) {
      animation-name: move6;
      &::before {
        animation-duration: 12s;
      }
      &::after {
        animation-duration: 12s, 7658ms;
        animation-delay: 0ms, 8194ms;
      }
    }
    &:nth-child(7) {
      animation-name: move7;
      &::before {
        animation-duration: 15s;
      }
      &::after {
        animation-duration: 15s, 8196ms;
        animation-delay: 0ms, 1782ms;
      }
    }
    &:nth-child(8) {
      animation-name: move8;
      &::before {
        animation-duration: 11s;
      }
      &::after {
        animation-duration: 11s, 7661ms;
        animation-delay: 0ms, 6022ms;
      }
    }
    &:nth-child(9) {
      animation-name: move9;
      &::before {
        animation-duration: 18s;
      }
      &::after {
        animation-duration: 18s, 10271ms;
        animation-delay: 0ms, 2093ms;
      }
    }
    &:nth-child(10) {
      animation-name: move10;
      &::before {
        animation-duration: 9s;
      }
      &::after {
        animation-duration: 9s, 7581ms;
        animation-delay: 0ms, 760ms;
      }
    }
    &:nth-child(11) {
      animation-name: move11;
      &::before {
        animation-duration: 12s;
      }
      &::after {
        animation-duration: 12s, 9981ms;
        animation-delay: 0ms, 6998ms;
      }
    }
    &:nth-child(12) {
      animation-name: move12;
      &::before {
        animation-duration: 17s;
      }
      &::after {
        animation-duration: 17s, 10271ms;
        animation-delay: 0ms, 4387ms;
      }
    }
    &:nth-child(13) {
      animation-name: move13;
      &::before {
        animation-duration: 18s;
      }
      &::after {
        animation-duration: 18s, 6586ms;
        animation-delay: 0ms, 2589ms;
      }
    }
    &:nth-child(14) {
      animation-name: move14;
      &::before {
        animation-duration: 14s;
      }
      &::after {
        animation-duration: 14s, 9537ms;
        animation-delay: 0ms, 6014ms;
      }
    }
    &:nth-child(15) {
      animation-name: move15;
      &::before {
        animation-duration: 10s;
      }
      &::after {
        animation-duration: 10s, 10138ms;
        animation-delay: 0ms, 8244ms;
      }
    }
  }
}

// Last blog
.last-blog{
	.section-title{
		color: #1f1f1f;
	}
}

.last-blog__item{
	
}

.last-blog__item-img{

	height: 180px;
  margin-bottom: 16px;
  @include media-breakpoint-down(xs){
    height:auto;
  }

	img{
		display: block;
		max-width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.last-blog__item-title{
	font-family: 'OpenSans';
	font-size: 24px;
	color: #292929;
	letter-spacing: 0;
	font-weight: bold;
	transition: .2s;
}

.last-blog__item-link:hover{
	text-decoration: none;
	.last-blog__item-title{
		color: $primary;		
	}
}

.last-blog__item-text{
	font-family: 'OpenSans';
	p {
		font-size: 14px;
		letter-spacing: 0;
		margin-left: 0;
	}
}

a.last-blog__item-more{
	color: $primary;
	text-transform: none;
	font-family: 'OpenSans';
	margin-top: -10px;
	display: block;
	transform: .2s;

	&:hover{
		text-decoration: none;
		opacity: .8;
	}
}

.last-blog__more{
	margin-top: 40px;
	text-align: center;	
}

// call-back
.call-back{
	background-color: #1a181d;
	position: relative;

	.form-control{
    appearance: none;
    box-shadow: none;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0;
		border-bottom: 1px solid #ffffff17;
		
		&:focus{
			outline: none;
			box-shadow: none;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom: 2px solid $primary;
		}
  }
  .btn-send-message{
    border:none;
    @include media-breakpoint-down(sm){
      display:block;
      margin:0 auto;
    }
  }
}

.call-back__subTitle{
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}

.call-back__form{

}



.footer {
	padding-top: 99px;
	padding-bottom: 82px;
	background-color: #141415;
	font-family: 'OpenSans';
}
.footer_logo {
	padding-left: 0px;
	margin-bottom: 39px;
	a {
		color: $main-color;
		line-height: 1;
	}
}
.footer_intro {
	p {
    margin-bottom: 0px;
    margin-left:0;
	}
}
.footer_social {
	margin-top: 27px;
  display:flex;
  justify-content: space-between;
  max-width: 160px;
}
.footer_cr {
	font-size: 14px;
	font-weight: 500;
	color: #cacaca;
	margin-top: 65px;
	opacity: .5;
}
.footer_cr_2 {
	display: none;
	font-size: 16px;
	font-weight: 500;
	color: #cacaca;
	margin-top: 65px;
}
.footer_col {
	margin-bottom: 27px;
	&:last-child {
		margin-bottom: 0px;
	}
	ul {
    list-style: none;
    padding-left:0;
		li {
			margin-bottom: 4px;
			a {
				font-size: 16px;
				font-weight: 500;
				color: #495057;
				-webkit-transition: all 200ms ease;
				-moz-transition: all 200ms ease;
				-ms-transition: all 200ms ease;
				-o-transition: all 200ms ease;
				transition: all 200ms ease;
				&:hover {
          color: #fff;
          text-decoration:none;
				}
			}
		}
	}
}
.footer_col_title {
	font-size: 18px;
	font-weight: 500;
	color: #ebeae5;
	margin-bottom: 9px;
}


/*[ Pagination ]
///////////////////////////////////////////////////////////
*/
.item-pagination {
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 13px;
  color: #444444;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  margin: 6px;
}

.item-pagination:hover {
  background-color: #333333;
  color: white;
}
.item-pagination:visited {
  // background-color: #333333;
  color: #444444;
}
.active-pagination:visited {
  // background-color: #333333;
  color: #fff;
}

.active-pagination {
  background-color: $main-color;
  color: white;
}

.categories{
  a:hover{
    color:$main-color;
  }
}

.blog__text{
  font-family:'OpenSans';
  letter-spacing: 0px;
  font-size:16px;
}

.contacts{
  .section-title{
    color:#333;
  }
  p{
    letter-spacing: 0px;
    font-family:'OpenSans';
    strong{
      font-weight:bold;
    }
    font-size:18px;
  }
}
//inner-page
.inner-page{
	.section-title{
		color: #1f1f1f;
		font-family: "Baron Neue";
		font-size: 32px;
    letter-spacing: 22px;
    margin: 0px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
		text-transform: uppercase;
		margin-bottom: 52px;

		@include media-breakpoint-down(sm){
			letter-spacing: 8px;
			font-size:30px;
		}
	}
}

.inner-page__top{
	border-bottom: 1px solid #e6e6e6;
}

.inner-page__content{
	padding-top: 82px;
	padding-bottom: 40px;

	&--with-sidebar{
		padding-top: 0;
	}
}


//blog-list
.blog-list{
}

.blog-list__articles{
	border-right: 1px solid #e6e6e6;	
	padding-top: 82px;

	@include media-breakpoint-down(sm){
		border: none;
		order: 2;
		padding-top: 40px;
	}
}

.blog-list__item{
	margin-bottom: 50px;
}

.blog-list__img{
	margin-bottom: 30px;

	img{
		display: block;
		max-width: 100%;
		border-radius: 10px;
	}
}

.blog-list__link{
	font-weight: 400;
	font-size: 30px;
	line-height: 1.2;
	color: #222222;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 12px;
	display: block;

	h2{
		all: inherit;
		font-family: 'OpenSans';
	}
}

.blog-list__content{

}

.blog-list__more{
	font-weight: 400;
	font-size: 12px;
	color: #222222;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'OpenSans';

	.fa{
		margin-left: 4px;
	}
}

.blog-list__sidebar{
	padding-top: 200px;

	@include media-breakpoint-down(sm){
		padding-top: 40px;
		order: 1;
	}
}

// sidebar-menu
.sidebar-menu{
	padding-left: 20px;
}

.sidebar-menu__title{
	font-weight: 500;
	font-size: 22px;
	color: #222222;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: 'OpenSans';
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 30px;
	margin-bottom: 10px;
}

.sidebar-menu__list{

}

.sidebar-menu__item{
	border-bottom: 1px solid #e6e6e6;	
	color: #222222;

	&--active{
		color: $primary;
	}
}

.sidebar-menu__link{
	font-family: 'OpenSans';
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	padding-bottom: 8px;
	padding-top: 8px;
	color: inherit;
}

// product-list
.product-list{
	@include list-unstyled();
	display: flex;
	flex-wrap: wrap;
}

.product-list__item{
	flex-basis: 40%;
	flex-grow: 1;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}

.product-list__item-img{
	height: 200px;
	margin-bottom: 10px;
	img{
		display: block;
		max-width: 100%;
		height: 100%;
		margin: 0 auto;
	}
}

.product-list__item-link{
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
	color: #222222;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 16px;
	display: block;
}

.product-list__item-title{
	all: inherit;
	font-family: 'OpenSans';
	text-align: center;
}

.product-list__item-text{
	margin-bottom: 30px;
}

.product-list__item-btn{

}


.product__image{
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
  width:100%;
  height:auto;
  img{
    display:block;
    width:100%;
    height:auto;
  }
  @include media-breakpoint-down(xs){
    margin-bottom: 20px;
  }
}
.product{
  padding-top: 80px;
  padding-bottom: 80px;
}
.product__name{
  font-family:'OpenSans';
  letter-spacing: 0;
  text-transform: none;
  color:#222222;
  margin-bottom: 15px;
  @include media-breakpoint-down(md){
    font-size:20px;
  }
}

.product__description-main{
  p{
    color:#222;
    text-transform: none;
    font-family:'OpenSans';
    font-size:16px;
    letter-spacing: 0;
    margin:0;
    @include media-breakpoint-down(md){
      font-size:14px;
    }
  }
  
}


.product__shopping-wrap{
  background-color:#F7F7F7;
  font-family:'OpenSans';
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
  @include media-breakpoint-down(md){
    margin-top: 30px;
  }
}
.product__price-simple{
  font-size:28px;
  text-transform: none;
  font-weight:bold;
  text-align:center;
  margin-bottom: 14px;
}
.product__btn-simple{
  text-align:center;
  font-family:"Baron Neue";
  font-size:16px;
  font-weight:400;
  margin-bottom: 10px;
  .btn{
    width:100%;
  }
  .btn__secondary{
    color: #222;
    border: 1px solid #222;
  }
}
.delivery-ways{
  font-size:18px;
  letter-spacing: 0;
  color:#222;
  text-align:center;
  margin-bottom: 10px;
  margin-top: 30px;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    height:1px;
    background-color: rgb(222,222 , 222);
    left:0;
    right:0;
    top:-15px;
  }
  p{
    color:#222;
    text-transform: none;
    font-family:'OpenSans';
    font-size:14px;
    letter-spacing: 0;
    margin:0;
    font-weight: 400;
    text-align:left;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.product-upsale{
  .product-list__item{
    flex-basis: 30%;
  }
  .section-title{
    color:#222;
  }
}
// Page reviews
.page-reviews{

}

.page-reviews__img{
	margin-bottom: 20px;
	img{
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}

.page-reviews__item{
	margin-bottom: 100px;
}

.page-reviews__magician-name{
	color: #1f1f1f;
	font-size: 20px;
	letter-spacing: 5px;
	margin-bottom: 14px;
	font-weight: bold;
}

.page-reviews__magician-abilities{
	margin-bottom: 8px;
	font-size: 16px;
	color: #817f80;
	font-family: 'OpenSans';
	text-transform: none;
}

.page-reviews__magician-descr{
	font-size: 14px;
	color: #6c757d;
	font-family: 'OpenSans';
	text-transform: none;
	margin-bottom: 30px;
	line-height: 1.5;
}

.page-reviews__slider-list{
	margin-top: 30px;

	.fa{
		font-size: 30px;
		color: #1f1f1f;		
	}

	.owl-nav button.owl-prev{
		border: 1px solid #1f1f1f !important;
		display: inline-block;
		height: 58px;
		width: 58px;
		transform: rotate(45deg);

		&:focus{
			outline: none;
		}

		.fa{
			transform: rotate(-45deg);
		}
	}

	.owl-nav{
		text-align: center;
	}

	.owl-nav button.owl-next{
		border: 1px solid #1f1f1f !important;
		display: inline-block;
		height: 58px;
		width: 58px;
		transform: rotate(-45deg);

		&:focus{
			outline: none;
		}

		.fa{
			transform: rotate(45deg);
		}
	}
}

.page-reviews__slider-item{
	display: flex;
	justify-content: space-between;

	@include media-breakpoint-down(md){
		flex-wrap: wrap;
	}
}

.page-reviews__slider-content{
	flex-basis: 80%;
	padding-left: 60px;

	@include media-breakpoint-down(md){
		order: 2;
		padding-left: 0;
		flex-basis: 100%;
	}
}

.page-reviews__slider-name{
	font-weight: bold;
	text-align: right;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: 'OpenSans';

	@include media-breakpoint-down(md){
		text-align: center;
	}
}

.page-reviews__slider-text{
	font-size: 12px;
    color: #ebeae5;
    font-family: 'OpenSans';
    text-transform: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
		margin-bottom: 40px;
		line-height: 1.5;
}

.page-reviews__slider-img{
	min-height: 216px;

	@include media-breakpoint-down(md){
		flex-basis: 100%;
		margin-bottom: 14px;
	}

	img{
		display: block;
		max-width: 100%;
		margin: 0 auto;
  }
  
}

.sonnik{
	background-color: #ebebeb;
	padding-top: 60px;
	padding-bottom: 60px;
	font-family: 'OpenSans';
}

.sonnik__wrap{
	max-width: 700px;
}

.sonnik__title{
	font-size: 32px;
	color: #000;
	font-family: 'OpenSans';
	text-transform: none;
	letter-spacing: 2px;
	margin-bottom: 15px;
}

.sonnik__group{
	margin-bottom: 40px;
}

.sonnik__form{
	display: flex;
	font-family: 'OpenSans';

	@include media-breakpoint-down(md){
		display: block;
	}

	.autocomplete{		
		flex-grow: 1;

		@include media-breakpoint-down(md){
			display: block;
			margin-bottom: 10px;
		}
	}

	.btn{
		flex-shrink: 0;
		margin-left: 15px;

		@include media-breakpoint-down(md){
			margin-left: 0;
		}
	}
}

.sonnik__input{
	border: 0;
	background-color: transparent;
	border-bottom: 1px solid #212529;
	border-radius: 0;
	width: 100%;
	height: 50px;

	&:focus{
		box-shadow: none;
	}
}

.sonnik__sub-title{
	color: #212529;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: none;
	font-weight: bold;
	margin-bottom: 20px;
}

.sonnik__btn-list{
	display: flex;
	flex-wrap: wrap;
}

.sonnik__btn{
	background: #e3e3e3;
	padding: 12px 20px 12px 20px;
	color: #212529;
	border: 1px solid #c9c7c7;
	border-radius: 4px;
	margin-right: 10px;
	margin-bottom: 10px;

	&--active{
		background: #e23b33;
		color: #fff;
		border: none;
	}

	&:focus{
		outline:none;
		border-color: #e23b33;
	}
}

.sonnik__letter-title-list{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
}

.sonnik__letter-title{
	flex-basis: 30%;
	flex-grow: 1;
	margin-bottom: 6px;
	padding-right: 4px;
}

.sonnik__letter-title-link{
	color: #212529;
	font-size: 14px;
	text-decoration: underline;
	position: relative;
	padding-left: 16px;

	&::before{
		content: '';
		width: 10px;
		height: 2px;
		background: #e23b33;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

/* Horoscope */

.page-horoscope{
	background-color: #ebebeb;
}

.horoscope{
	font-family:'OpenSans';
}

.horoscope__name{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	border-bottom: 1px solid #aba9a9;
	padding-bottom: 10px;
}

.horoscope__name-item{
	margin-right: 20px;
	margin-top: 10px;

	&--active{
		.horoscope__name-link{
			color: #dd3731;
		}
	}
}

.horoscope__name-link{
	color: #000;
	font-size: 18px;
	font-family:'OpenSans';
	font-weight: bold;
}

.horoscope__descr{
	margin-bottom: 40px;
}

.horoscope__type{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 40px;	
}

.horoscope__type-item{
	margin-right: 15px;

	&--active{
		.horoscope__type-link{
			background: #e23b33;
			color: #fff;
			border: none;
		}
	}

	@include media-breakpoint-down(sm){
		width: 100%;
		margin-right: 0;
  }
}

.horoscope__type-link{
	background: #e3e3e3;
	padding: 12px 20px 12px 20px;
	color: #212529;
	border: 1px solid #c9c7c7;
	border-radius: 4px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family:'OpenSans';
	display: block;

	&:focus{
		outline:none;
		border-color: #e23b33;
	}
}

.horoscope__main{
	@include media-breakpoint-down(sm){
		margin-left: -15px;
		margin-right: -15px;
  }
}

.horoscope__tabs-wrap{
	overflow-x: auto;
	overflow-y: none;
}

.horoscope__tabs{
	list-style-type: none;
	display: flex;
	padding-left: 0;
	margin-bottom: 0;
}

.horoscope__btn{
	position: relative;
	flex-grow: 1;
	flex-basis: 10%;
	min-width: 92px;
	padding-top: 20px;
	padding-bottom: 20px;

	&::before{
		content: '';
		position: absolute;
		width: 1px;
		height: 40px;
		background-color: #aba9a9;
		right: -1px;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	&:last-child{
		&::before{
			display: none;
		}
	}

	&--active{
		background-color: #fff;
		border: 1px solid #aba9a9;
		border-bottom: none;

		.horoscope__btn-link{
			color: #e23b33;
			font-weight: bold;
		}

		&::before{
			display: none;
		}
	}
}

.horoscope__btn-icon{
	height: 40px;
	width: 40px;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.horoscope__btn-link{
	display: block;
	text-align: center;
	font-size: 16px;
	color: #000;
}

.horoscope__content{
	background-color: #fff;
	border: 1px solid #aba9a9;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;	
	margin-top: -1px;

	@include media-breakpoint-down(sm){
		padding-left: 15px;
		padding-right: 15px;
  }
}



.horoscope__date{
	background-color: #ebebeb;
	display: flex;
	align-items: center;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 8px;
	margin-bottom: 20px;

	@include media-breakpoint-down(sm){
		flex-wrap: wrap;
  }
}

.horoscope__date-title{
	margin-right: 10px;
	font-weight: bold;

	@include media-breakpoint-down(sm){
		width: 100%;
		margin-bottom: 10px;
  }
}

.horoscope__date-list{
	list-style-type: none;
	display: flex;
	padding-left: 0;
	margin-bottom: 0;

	@include media-breakpoint-down(sm){
		width: 100%;
  }
}

.horoscope__date-item{
	margin-right: 3px;

	&--active{
		.horoscope__date-link{
			color: #e23b33;
			font-weight: bold;
		}
	}

	&::after{
		content: ' / ';
	}

	&:last-child{
		&::after{
			display: none;
		}
	}
}

.horoscope__date-link{
	color: #000;
}

.horoscope__content-title{
	font-size: 30px;
	color: #000;
	font-weight: bold;
	margin-bottom: 20px;
}