*, *::after, *::before {
    box-sizing: border-box;
}

html, body{
	height: 100%;
	// font-size: $main-font-size;
}

body{
	// font-family: $main-font-family;	
	min-width: 320px;
	position: relative;
	line-height: 1.4;
	overflow-x: hidden;
	// color: $text-color;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[role="button"] {
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6b6b6b;
  opacity: 1;
  font-size: rem(15px);
}
::-moz-placeholder { /* Firefox 19+ */
  color: #6b6b6b;
  opacity: 1;
  font-size: rem(15px);
}
:-ms-input-placeholder { /* IE 10+ */
  color: #6b6b6b;
  opacity: 1;
  font-size: rem(15px);
}
:-moz-placeholder { /* Firefox 18- */
  color: #6b6b6b;
  opacity: 1;
  font-size: rem(15px);
}

.hidden{
	display: none;
}



/* line 34, ../../frontend-src/css/sass/_settings.sass */

h1 {
  color: #ebeae5;
  font-size: 54px;
  letter-spacing: 22px;
  margin: 0px;
}

/* line 41, ../../frontend-src/css/sass/_settings.sass */

h2 {
  color: #ebeae5;
  font-size: 32px;
  letter-spacing: 22px;
  margin: 0px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  
}

/* line 48, ../../frontend-src/css/sass/_settings.sass */

h3 {
  margin: 0px;
  font-size: 24px;
  letter-spacing: 5px;
}

/* line 53, ../../frontend-src/css/sass/_settings.sass */

h4 {
  color: #817f80;
  letter-spacing: 4px;
  margin: 6px;
  line-height: 1.8;
  font-size: 12px;
  font-weight: normal;
}

/* line 61, ../../frontend-src/css/sass/_settings.sass */

// p {
//   color: #817f80;
//   letter-spacing: 4px;
//   margin: 10px;
//   line-height: 1.8;
//   font-size: 11px;
// }




a {
  text-decoration: none;
  color: #fff;

  &:hover, &:visited {
    text-decoration: none;
    // color: #fff;
  }
}